@charset "UTF-8";
#account-dang-ki-nhan-tin .account_detail_left, #account-so-dia-chi .account_detail_left, #account-thongtinchitiet .account_detail_left, #account-chi-tiet-don-hang .account_detail_left, #account-danhgia-binhluan .account_detail_left, #account-magiamgia .account_detail_left {
  border-right: 1px dotted #e9e9e9;
  padding-top: 20px; }
#account-dang-ki-nhan-tin .account_detail_left .user_avatar .img, #account-so-dia-chi .account_detail_left .user_avatar .img, #account-thongtinchitiet .account_detail_left .user_avatar .img, #account-chi-tiet-don-hang .account_detail_left .user_avatar .img, #account-danhgia-binhluan .account_detail_left .user_avatar .img, #account-magiamgia .account_detail_left .user_avatar .img {
  position: relative;
  cursor: pointer; }
#account-dang-ki-nhan-tin .account_detail_left .user_avatar .img:hover:before, #account-so-dia-chi .account_detail_left .user_avatar .img:hover:before, #account-thongtinchitiet .account_detail_left .user_avatar .img:hover:before, #account-chi-tiet-don-hang .account_detail_left .user_avatar .img:hover:before, #account-danhgia-binhluan .account_detail_left .user_avatar .img:hover:before, #account-magiamgia .account_detail_left .user_avatar .img:hover:before {
  color: #00b4c1; }
#account-dang-ki-nhan-tin .account_detail_left .user_avatar .img img, #account-so-dia-chi .account_detail_left .user_avatar .img img, #account-thongtinchitiet .account_detail_left .user_avatar .img img, #account-chi-tiet-don-hang .account_detail_left .user_avatar .img img, #account-danhgia-binhluan .account_detail_left .user_avatar .img img, #account-magiamgia .account_detail_left .user_avatar .img img {
  display: block;
  margin: 0 auto;
  border-radius: 100%; }
#account-dang-ki-nhan-tin .account_detail_left .user_avatar .img:before, #account-so-dia-chi .account_detail_left .user_avatar .img:before, #account-thongtinchitiet .account_detail_left .user_avatar .img:before, #account-chi-tiet-don-hang .account_detail_left .user_avatar .img:before, #account-danhgia-binhluan .account_detail_left .user_avatar .img:before, #account-magiamgia .account_detail_left .user_avatar .img:before {
  content: "Thay hình đại diện";
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 80px; }
#account-dang-ki-nhan-tin .account_detail_left .user_avatar .username, #account-so-dia-chi .account_detail_left .user_avatar .username, #account-thongtinchitiet .account_detail_left .user_avatar .username, #account-chi-tiet-don-hang .account_detail_left .user_avatar .username, #account-danhgia-binhluan .account_detail_left .user_avatar .username, #account-magiamgia .account_detail_left .user_avatar .username {
  display: block;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center; }
#account-dang-ki-nhan-tin .account_detail_left .menu_account_detail, #account-so-dia-chi .account_detail_left .menu_account_detail, #account-thongtinchitiet .account_detail_left .menu_account_detail, #account-chi-tiet-don-hang .account_detail_left .menu_account_detail, #account-danhgia-binhluan .account_detail_left .menu_account_detail, #account-magiamgia .account_detail_left .menu_account_detail {
  margin-top: 30px; }
#account-dang-ki-nhan-tin .account_detail_left .menu_account_detail > li, #account-so-dia-chi .account_detail_left .menu_account_detail > li, #account-thongtinchitiet .account_detail_left .menu_account_detail > li, #account-chi-tiet-don-hang .account_detail_left .menu_account_detail > li, #account-danhgia-binhluan .account_detail_left .menu_account_detail > li, #account-magiamgia .account_detail_left .menu_account_detail > li {
  line-height: 40px;
  padding-left: 15px;
  font-size: 13px;
  color: #666;
  position: relative;
  border-top: 1px solid #e9e9e9;
  cursor: pointer; }
#account-dang-ki-nhan-tin .account_detail_left .menu_account_detail > li:first-child, #account-so-dia-chi .account_detail_left .menu_account_detail > li:first-child, #account-thongtinchitiet .account_detail_left .menu_account_detail > li:first-child, #account-chi-tiet-don-hang .account_detail_left .menu_account_detail > li:first-child, #account-danhgia-binhluan .account_detail_left .menu_account_detail > li:first-child, #account-magiamgia .account_detail_left .menu_account_detail > li:first-child {
  border-top: none;
  height: 40px; }
#account-dang-ki-nhan-tin .account_detail_left .menu_account_detail > li.active, #account-dang-ki-nhan-tin .menu_account_detail > li:hover, #account-so-dia-chi .account_detail_left .menu_account_detail > li.active, #account-so-dia-chi .menu_account_detail > li:hover, #account-thongtinchitiet .account_detail_left .menu_account_detail > li.active, #account-thongtinchitiet .menu_account_detail > li:hover, #account-chi-tiet-don-hang .account_detail_left .menu_account_detail > li.active, #account-chi-tiet-don-hang .menu_account_detail > li:hover, #account-danhgia-binhluan .account_detail_left .menu_account_detail > li.active, #account-danhgia-binhluan .menu_account_detail > li:hover, #account-magiamgia .account_detail_left .menu_account_detail > li.active, #account-magiamgia .menu_account_detail > li:hover {
  background-color: #f6435b;
  color: #fff; }
#account-dang-ki-nhan-tin .account_detail_left.menu_account_detail > li:after, #account-so-dia-chi .account_detail_left.menu_account_detail > li:after, #account-thongtinchitiet .account_detail_left.menu_account_detail > li:after, #account-chi-tiet-don-hang .account_detail_left.menu_account_detail > li:after, #account-danhgia-binhluan .account_detail_left.menu_account_detail > li:after, #account-magiamgia .account_detail_left.menu_account_detail > li:after {
  content: "\f105";
  position: absolute;
  top: 15px;
  right: 15px;
  font: normal normal normal 15px/1 FontAwesome; }
#account-dang-ki-nhan-tin .account_detail_right, #account-so-dia-chi .account_detail_right, #account-thongtinchitiet .account_detail_right, #account-chi-tiet-don-hang .account_detail_right, #account-danhgia-binhluan .account_detail_right, #account-magiamgia .account_detail_right {
  padding-left: 20px;
  padding-top: 20px; }
#account-dang-ki-nhan-tin .ttl_acc, #account-so-dia-chi .ttl_acc, #account-thongtinchitiet .ttl_acc, #account-chi-tiet-don-hang .ttl_acc, #account-danhgia-binhluan .ttl_acc, #account-magiamgia .ttl_acc {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px solid #e9e9e9;
  line-height: 20px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-top: 20px; }
#account-dang-ki-nhan-tin .ttl_acc .desc, #account-so-dia-chi .ttl_acc .desc, #account-thongtinchitiet .ttl_acc .desc, #account-chi-tiet-don-hang .ttl_acc .desc, #account-danhgia-binhluan .ttl_acc .desc, #account-magiamgia .ttl_acc .desc {
  font-size: 12px;
  color: #666666;
  font-weight: normal;
  text-transform: lowercase;
  display: inline-block; }
#account-dang-ki-nhan-tin .ttl_acc .desc:first-letter, #account-so-dia-chi .ttl_acc .desc:first-letter, #account-thongtinchitiet .ttl_acc .desc:first-letter, #account-chi-tiet-don-hang .ttl_acc .desc:first-letter, #account-danhgia-binhluan .ttl_acc .desc:first-letter, #account-magiamgia .ttl_acc .desc:first-letter {
  text-transform: uppercase; }
#account-dang-ki-nhan-tin .right_register_news .ck_register, #account-so-dia-chi .right_register_news .ck_register, #account-thongtinchitiet .right_register_news .ck_register, #account-chi-tiet-don-hang .right_register_news .ck_register, #account-danhgia-binhluan .right_register_news .ck_register, #account-magiamgia .right_register_news .ck_register {
  border-bottom: 1px dotted #b1b1b1;
  padding-bottom: 15px; }
#account-dang-ki-nhan-tin .right_register_news .ttl, #account-so-dia-chi .right_register_news .ttl, #account-thongtinchitiet .right_register_news .ttl, #account-chi-tiet-don-hang .right_register_news .ttl, #account-danhgia-binhluan .right_register_news .ttl, #account-magiamgia .right_register_news .ttl {
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase; }
#account-dang-ki-nhan-tin .right_register_news .box_radio, #account-so-dia-chi .right_register_news .box_radio, #account-thongtinchitiet .right_register_news .box_radio, #account-chi-tiet-don-hang .right_register_news .box_radio, #account-danhgia-binhluan .right_register_news .box_radio, #account-magiamgia .right_register_news .box_radio {
  margin-top: 20px; }
#account-dang-ki-nhan-tin .right_register_news .box_radio .radio_, #account-so-dia-chi .right_register_news .box_radio .radio_, #account-thongtinchitiet .right_register_news .box_radio .radio_, #account-chi-tiet-don-hang .right_register_news .box_radio .radio_, #account-danhgia-binhluan .right_register_news .box_radio .radio_, #account-magiamgia .right_register_news .box_radio .radio_ {
  display: block;
  margin-top: 10px;
  margin-left: 0; }
#account-dang-ki-nhan-tin .right_register_news .box_cate_, #account-so-dia-chi .right_register_news .box_cate_, #account-thongtinchitiet .right_register_news .box_cate_, #account-chi-tiet-don-hang .right_register_news .box_cate_, #account-danhgia-binhluan .right_register_news .box_cate_, #account-magiamgia .right_register_news .box_cate_ {
  overflow: hidden;
  margin-left: -30px; }
#account-so-dia-chi .box_cate_ .ck_cate > label, #account-thongtinchitiet .box_cate_ .ck_cate > label, #account-chi-tiet-don-hang .box_cate_ .ck_cate > label, #account-danhgia-binhluan .box_cate_ .ck_cate > label, #account-magiamgia .box_cate_ .ck_cate > label {
  display: block;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  text-align: center;
  text-align: center;
  padding: 10px; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate > label img, #account-so-dia-chi .box_cate_ .ck_cate > label img, #account-thongtinchitiet .box_cate_ .ck_cate > label img, #account-chi-tiet-don-hang .box_cate_ .ck_cate > label img, #account-danhgia-binhluan .box_cate_ .ck_cate > label img, #account-magiamgia .box_cate_ .ck_cate > label img {
  display: block;
  margin: 0 auto; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate input[type="checkbox"], #account-so-dia-chi .box_cate_ .ck_cate input[type="checkbox"], #account-thongtinchitiet .box_cate_ .ck_cate input[type="checkbox"], #account-chi-tiet-don-hang .box_cate_ .ck_cate input[type="checkbox"], #account-danhgia-binhluan .box_cate_ .ck_cate input[type="checkbox"], #account-magiamgia .box_cate_ .ck_cate input[type="checkbox"] {
  opacity: 0;
  position: absolute; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label, #account-so-dia-chi .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label, #account-thongtinchitiet .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label, #account-chi-tiet-don-hang .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label, #account-danhgia-binhluan .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label, #account-magiamgia .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label {
  border-color: #f6435b; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before, #account-so-dia-chi .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before, #account-thongtinchitiet .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before, #account-chi-tiet-don-hang .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before, #account-danhgia-binhluan .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before, #account-magiamgia .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before {
  background-color: #f6435b; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:after, #account-so-dia-chi .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:after, #account-thongtinchitiet .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:after, #account-chi-tiet-don-hang .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:after, #account-danhgia-binhluan .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:after, #account-magiamgia .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:after {
  display: block; }
#account-dang-ki-nhan-tin .right_register_news .ttl.ttl_notify, #account-so-dia-chi .right_register_news .ttl.ttl_notify, #account-thongtinchitiet .right_register_news .ttl.ttl_notify, #account-chi-tiet-don-hang .right_register_news .ttl.ttl_notify, #account-danhgia-binhluan .right_register_news .ttl.ttl_notify, #account-magiamgia .right_register_news .ttl.ttl_notify {
  margin-top: 30px;
  border-top: 1px dotted #b1b1b1;
  padding-top: 20px; }
#account-dang-ki-nhan-tin .notify_to_user .it, #account-so-dia-chi .notify_to_user .it, #account-thongtinchitiet .notify_to_user .it, #account-chi-tiet-don-hang .notify_to_user .it, #account-danhgia-binhluan .notify_to_user .it, #account-magiamgia .notify_to_user .it {
  margin-top: 10px;
  line-height: 16px; }
#account-dang-ki-nhan-tin .notify_to_user .it a, #account-so-dia-chi .notify_to_user .it a, #account-thongtinchitiet .notify_to_user .it a, #account-chi-tiet-don-hang .notify_to_user .it a, #account-danhgia-binhluan .notify_to_user .it a, #account-magiamgia .notify_to_user .it a {
  color: #f6435b;
  font-size: 13px; }
#account-so-dia-chi .selectbox, #account-thongtinchitiet .selectbox {
  height: 38px;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  font-size: 12px;
  color: #666;
  position: relative; }
#account-so-dia-chi .selectbox .optioned, #account-thongtinchitiet .selectbox .optioned {
  display: block;
  line-height: 36px;
  padding-left: 15px; }
#account-so-dia-chi .selectbox .optioned:after, #account-thongtinchitiet .selectbox .optioned:after {
  content: "\f107";
  position: absolute;
  top: 10px;
  right: 10px;
  font: normal normal normal 15px/1 FontAwesome; }
#account-so-dia-chi .selectbox > .option, #account-thongtinchitiet .selectbox > .option {
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  z-index: 3;
  padding: 5px 0;
  background-color: #fff;
  display: none; }
#account-so-dia-chi .selectbox.active > .option, #account-thongtinchitiet .selectbox.active > .option {
  display: block; }
#account-so-dia-chi .selectbox > .option > span, #account-thongtinchitiet .selectbox > .option > span {
  display: block;
  line-height: 20px;
  padding: 2px 5px 2px 15px;
  cursor: pointer; }
#account-so-dia-chi .selectbox > .option > span:hover, #account-thongtinchitiet .selectbox > .option > span:hover {
  background-color: #f1f1f1; }

#account .clear {
  padding: 10px;
  padding-top: 20px; }
#account .avatar {
  overflow: hidden;
  padding: 0px;
  text-align: center; }
#account .avatar img {
  overflow: hidden;
  border-radius: 100%;
  padding: 0px; }
#account .username {
  font-size: 15px;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold; }
#account .user_address {
  margin-top: 15px;
  overflow: hidden;
  font-size: 13px;
  color: #333; }
#account .user_address .email {
  margin-right: 30px; }
#account .user_address > span {
  display: inline-block; }
#account .phone {
  margin-top: 15px; }
#account .col-inf {
  padding-top: 20px; }
#account .col-inf .user_address .email:before {
  content: "";
  background: url("../images/account/account_sprite.png") 0 -267px;
  width: 20px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px; }
#account .col-inf .user_address .address:before {
  content: "";
  background: url("../images/account/account_sprite.png") -24px -267px;
  width: 12px;
  height: 18px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 4px; }
#account .col-inf .phone:before {
  content: "";
  background: url("../images/account/account_sprite.png") -40px -267px;
  width: 17px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 4px; }
#account .box {
  margin-top: 20px;
  display: block;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 25px 20px 0 10px;
  height: 120px;
  position: relative; }
#account .box .address:before {
  width: 38px;
  height: 41px;
  background-position: 0 -89px; }
#account .box > div {
  margin-left: 75px;
  padding-left: 14px;
  border-left: 2px solid #ffcc41;
  line-height: 20px;
  font-size: 13px;
  color: #333;
  min-height: 65px; }
#account .box > div span {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px; }
#account .box:hover {
  color: #fff;
  background-color: #00b4c1;
  border-color: #00b4c1; }
#account .col-md-4 .order:before {
  width: 29px;
  height: 40px;
  background-position: 0 -137px; }
#account .col-md-4 .box:before {
  content: "";
  display: block;
  position: absolute;
  background: url("../images/account/account_sprite.png") no-repeat;
  top: 25px;
  left: 25px; }
#account .col-md-4 .box:hover {
  color: #fff;
  background-color: #f6435b;
  border-color: #f6435b; }
#account .col-md-4 .box:hover > div span {
  color: #fff; }
#account .order:before {
  width: 29px;
  height: 40px;
  background-position: 0 -137px; }
#account .order:hover:before {
  background-position: -46px -137px; }
#account .user_inf:before {
  width: 41px;
  height: 40px;
  background-position: 0 0; }
#account .user_inf:hover:before {
  background-position: -46px 0; }
#account .address:before {
  width: 38px;
  height: 41px;
  background-position: 0 -89px; }
#account .address:hover:before {
  background-position: -46px -89px; }
#account .code:before {
  width: 41px;
  height: 40px;
  background-position: 0 -46px; }
#account .code:hover:before {
  background-position: -46px -46px; }
#account .comment:before {
  width: 35px;
  height: 40px;
  background-position: 0 -183px; }
#account .comment:hover:before {
  background-position: -46px -183px; }
#account .news:before {
  width: 41px;
  height: 40px;
  background-position: 0 -229px; }
#account .news:hover:before {
  background-position: -46px -229px; }
#account .box:hover > div, #account .box:hover > div span {
  color: #fff; }
#account .slider-dealhot {
  margin-top: 10px; }
#account h2.account-main {
  padding-top: 20px; }

#account-dang-ki-nhan-tin .account_detail_right {
  min-height: 740px; }
#account-dang-ki-nhan-tin .menu_account_detail > li {
  line-height: 40px;
  font-size: 13px;
  color: #666;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  list-style: none; }
#account-dang-ki-nhan-tin .radio_ > span:after {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  left: 3px;
  top: 3px;
  content: "";
  display: block;
  position: absolute;
  background-color: #666;
  display: none; }
#account-dang-ki-nhan-tin .notify_to_user .it a:before {
  content: "";
  width: 4px;
  height: 3px;
  display: inline-block;
  background: url("../images/lidot.gif");
  margin-right: 10px;
  position: relative;
  top: -2px; }
#account-dang-ki-nhan-tin .notify_to_user .it .ic_remove {
  display: inline-block;
  background: url("../images/account/account_sprite.png") -114px -264px no-repeat;
  width: 15px;
  height: 14px;
  margin-left: 10px;
  cursor: pointer; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate input[type="checkbox"]:checked ~ label span:before {
  background-color: #f6435b; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate > label > span:before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  top: 2px;
  position: relative; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate > label > span:after {
  content: '';
  width: 8px;
  height: 4px;
  background: transparent;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  margin-right: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 3px;
  top: 9px;
  display: none; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate > label > span {
  display: inline-block;
  position: relative;
  font-size: 16px; }
#account-dang-ki-nhan-tin .box_cate_ .ck_cate img {
  max-width: 100%; }
#account-dang-ki-nhan-tin .account_detail_right .all_imgs .box_cate_ .ck_cate label
{
  height: 185px;
}
#account-dang-ki-nhan-tin .box_cate_ .ck_cate > label
{
    display: block;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    text-align: center;
    
}

#account-so-dia-chi .row_user_address_ .cols_address {
  width: 100%;
  float: left; }
#account-so-dia-chi .right_user_address .block_add_first {
  width: 100%;
  margin-top: 22px;
  float: right;
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 14px;
  border: 1px solid #e9e9e9;
  font-size: 13px; }
#account-so-dia-chi .row_user_address_ .cols_address .ttl_address:before {
  content: '';
  width: 10px;
  height: 4px;
  background: transparent;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  position: relative;
  top: -2px;
  transform: rotate(-45deg);
  display: none; }
#account-so-dia-chi .right_user_address .row_user_address_ {
  margin-left: -30px;
  overflow: hidden;
  margin-bottom: 30px; }
#account-so-dia-chi .row_user_address_ .cols_address.selected .ttl_address {
  background-color: #f6435b;
  color: #fff; }
#account-so-dia-chi .row_user_address_ .cols_address .ttl_address {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  background-color: #e9e9e9;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
#account-so-dia-chi .row_user_address_ .cols_address.selected .ttl_address:before {
  display: inline-block; }
#account-so-dia-chi .cols_address .cont_box_address {
  padding: 10px;
  border: 1px solid #e9e9e9;
  border-top: none;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
#account-so-dia-chi .cols_address .cont_box_address .name_ {
  position: relative;
  padding-right: 20px; }
#account-so-dia-chi .cont_box_address .name_ .edit {
  position: absolute;
  right: 0;
  color: #f6435b; }
#account-so-dia-chi .right_user_address .cont_box_address .address {
  overflow: hidden;
  margin-top: 10px; }
#account-so-dia-chi .right_user_address .cont_box_address .tel {
  margin: 10px 0 20px; }
#account-so-dia-chi .right_user_address .selected .cont_box_address .btn_select_adr, #account-so-dia-chi .right_user_address .cont_box_address .btn_select_adr:hover {
  background-color: #f6435b;
  color: #fff; }
#account-so-dia-chi .right_user_address .cont_box_address .btn_select_adr {
  display: block;
  padding: 5px;
  border: 1px solid #f6435b;
  border-radius: 2px;
  color: #f6435b;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;}
#account-so-dia-chi .row_user_address_ .col_btn_add_ {
  display: table; }
#account-so-dia-chi .row_user_address_ .col_btn_add_ .btn_add_new_ {
  height: 214px;
  border: 1px solid #f6435b;
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 13px; }
#account-so-dia-chi .col_btn_add_ .btn_add_new_ .icon_add {
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #f6435b;
  border-radius: 100%;
  margin: 0 auto 20px;
  position: relative; }
#account-so-dia-chi .col_btn_add_ .btn_add_new_ .icon_add:before {
  content: "";
  top: 20px;
  bottom: 20px;
  width: 1px;
  left: 50%;
  background-color: #f6435b;
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
#account-so-dia-chi .col_btn_add_ .btn_add_new_ .icon_add:after {
  content: "";
  right: 20px;
  left: 20px;
  height: 1px;
  top: 50%;
  background-color: #f6435b;
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
#account-so-dia-chi .block_add_second .row_:first-child {
  margin-top: -5px; }
#account-so-dia-chi .block_add_second .row_ {
  margin-top: 20px;
  min-height: 65px; }
#account-so-dia-chi .block_add_second .row_.two_cols .cols:first-child {
  margin-left: 0; }
#account-so-dia-chi .add_new_address_block .block_add_second .lbl {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px; }
#account-so-dia-chi .account_detail_right .add_new_address_block input[type="text"] {
  width: 100%; }
#account-so-dia-chi .textarea textarea {
  width: 100%;
  height: 58px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  resize: none;
  padding: 10px 15px; }
#account-so-dia-chi .account_detail_right input[type="text"] {
  height: 38px;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  padding-left: 15px;
  font-size: 12px;
  color: #666666; }
#account-so-dia-chi .block_add_second .ps {
  color: #666666;
  margin-top: 10px; }
#account-so-dia-chi .right_user_address .block_add_first > p {
  margin-top: 15px;
  line-height: 16px; }
#account-so-dia-chi .right_user_address .block_add_first .bt_confirm_address {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
  margin-top: 35px;
  background-color: #f79433; }
#account-so-dia-chi .four_col {
  padding: 10px; }
#account-so-dia-chi .box_edit_address .selectBox_ {
  width: 20%;
  float: left;
  margin-left: 10px; }
#account-so-dia-chi .box_edit_address .selectBox_:first-child {
  margin-left: 0; }
@media (max-width: 350px) {
  #account-so-dia-chi .selectbox .optioned {
    padding-left: 0px; } }

#account-thongtinchitiet .row_user_inf {
  font-size: 13px;
  margin: 14px 0; }
#account-thongtinchitiet .row_user_inf > .lbl {
  width: 150px;
  float: left; }
#account-thongtinchitiet .form-group input[type="text"] {
  width: 350px;
  height: 38px;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  padding-left: 15px;
  font-size: 12px;
  color: #666666; }
#account-thongtinchitiet input.error[type="text"] {
  border-color: #f6435b;
  outline-style: none; }
#account-thongtinchitiet .row_user_inf .inf {
  margin-left: 150px; }
#account-thongtinchitiet .box_edit_user_inf_ {
  display: none; }
#account-thongtinchitiet .box_edit_user_inf_ {
  line-height: 36px; }
#account-thongtinchitiet .box_edit_user_inf_ .row_user_inf {
  margin: 10px 0; }
#account-thongtinchitiet .box_edit_user_inf_ .inf {
  width: 100%; }
#account-thongtinchitiet .textarea textarea {
  width: 60%;
  height: 58px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  resize: none;
  padding: 10px 15px; }
#account-thongtinchitiet .box_edit_address .row_selectbox {
  height: 38px; }
#account-thongtinchitiet .box_edit_address .selectBox_ {
  width: 20%;
  float: left;
  margin-left: 10px; }
#account-thongtinchitiet .box_edit_address .selectBox_:first-child {
  margin-left: 0; }
#account-thongtinchitiet .select_gender .radio_:first-child {
  margin-left: 0; }
#account-thongtinchitiet .box_edit_user_inf_ .box_edit_birthday {
  height: 38px; }
#account-thongtinchitiet .box_edit_birthday .item_inf_birthday {
  width: 15%;
  margin-left: 10px;
  float: left; }
#account-thongtinchitiet .box_edit_birthday .item_inf_birthday:first-child {
  margin-left: 0; }
#account-thongtinchitiet .row_user_inf.row_btns_update {
  margin-bottom: 40px; }
#account-thongtinchitiet .row_btns_update .btn_update {
  width: 170px;
  display: inline-block;
  margin-top: 0; }
#account-thongtinchitiet .row_btns_update .cancel_ {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #00b4c1; }
#account-thongtinchitiet .notity_error {
  font-size: 12px;
  color: #fe3209;
  line-height: 18px;
  padding: 5px 0; }
#account-thongtinchitiet .row_user_inf > .inf.password .change_pass, #account-thongtinchitiet .row_user_inf > .inf.address .view_list {
  font-size: 12px;
  color: #00b4c1;
  margin-left: 15px; }
#account-thongtinchitiet .row_user_inf > .inf .no_inf {
  color: #fe3209; }
#account-thongtinchitiet .row_notify {
  text-align: center;
  background-color: #fff5d9;
  text-align: center;
  padding: 15px 15px 25px;
  border-radius: 4px;
  margin-top: 30px; }
#account-thongtinchitiet .row_notify > p {
  display: inline-block;
  line-height: 18px;
  font-size: 12px;
  position: relative;
  margin-left: 15px;}
#account-thongtinchitiet .row_notify > p:before {
  content: "";
  display: inline-block;
  background: url("../images/account/account_sprite.png") -92px 0 no-repeat;
  width: 33px;
  height: 32px;
  position: absolute;
  margin-left: -45px;}
#account-thongtinchitiet .row_notify > a {
  display: inline-block;
  border: 1px solid #00b4c1;
  text-transform: uppercase;
  color: #00b4c1;
  border-radius: 2px;
  line-height: 32px;
  position: relative;
  top: -6px; }
#account-thongtinchitiet .account_detail_right .row_baby_inf {
  margin-top: 20px; }
#account-thongtinchitiet .account_detail_right .row_baby_inf .row_user_inf:first-child {
  top: -10px;
  position: relative; }
#account-thongtinchitiet .account_detail_right .row_baby_inf .baby_inf_left {
  width: 480px;
  float: left; }
#account-thongtinchitiet .account_detail_right .row_baby_inf .lbl {
  line-height: 38px; }
#account-thongtinchitiet .row_baby_inf .lbl .grey {
  color: #666; }
#account-thongtinchitiet .row_baby_inf .inf.birthday {
  height: 38px; }
#account-thongtinchitiet .account_detail_right .field_baby_name[type="text"] {
  width: 330px; }
#account-thongtinchitiet .birthday .item_inf_birthday {
  float: left;
  margin-left: 15px;
  width: 100px; }
#account-thongtinchitiet .birthday .item_inf_birthday:first-child {
  margin-left: 0; }
#account-thongtinchitiet .row_baby_inf .inf.rd_box {
  padding-top: 10px; }
#account-thongtinchitiet .row_baby_inf .inf.rd_box .radio_:first-child {
  margin-left: 0; }
#account-thongtinchitiet .row_baby_inf .row_btns .btn_save, #account-thongtinchitiet .btn_update {
  border: none;
  border-radius: 4px;
  height: 38px;
  width: 215px;
  line-height: 38px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #00b4c1;
  margin-top: 10px; }

#account-chi-tiet-don-hang .ttl_acc .printer {
  float: right;
  text-transform: uppercase;
  color: #00b4c1;
  font-weight: normal; }
#account-chi-tiet-don-hang .ttl_acc .printer:before {
  content: "";
  display: inline-block;
  background: url("../images/account/account_sprite.png") -96px -165px no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 5px; }
#account-chi-tiet-don-hang .box_status_detail_orders {
  border: 1px solid #ffcc41;
  border-bottom-width: 4px;
  border-radius: 4px;
  padding: 12px;
  margin: 20px; }
#account-chi-tiet-don-hang .box_status_detail_orders .row_order_code {
  overflow: hidden; }
#account-chi-tiet-don-hang .row_order_code .cols:first-child {
  text-align: left; }
#account-chi-tiet-don-hang .box_status_detail_orders .row_order_code .cols {
  width: 40%;
  float: left; }
#account-chi-tiet-don-hang .row_order_code .col_order_code > p {
  font-size: 13px;
  line-height: 22px; }
#account-chi-tiet-don-hang .row_order_code .col_order_code > p .code {
  font-size: 15px; }
#account-chi-tiet-don-hang .row_order_code .col_order_code > p .order_date {
  font-size: 12px;
  color: #666; }
#account-chi-tiet-don-hang .row_order_code .cols:nth-child(2) {
  text-align: right;
  width: 60%; }
#account-chi-tiet-don-hang .row_order_code .cols_total .box_total {
  font-size: 13px;
  line-height: 22px; }
#account-chi-tiet-don-hang .row_order_code .cols_total .box_total b {
  font-size: 15px; }
#account-chi-tiet-don-hang .row_order_code .cols_total .box_status {
  font-size: 12px;
  color: #666; }
#account-chi-tiet-don-hang .cols_total .box_status .status {
  color: #00b4c1;
  margin-left: 10px; }
#account-chi-tiet-don-hang .cols_total .box_status .status:before {
  content: '';
  width: 7px;
  height: 3px;
  background: transparent;
  border: 2px solid #00b4c1;
  border-top: none;
  border-right: none;
  position: relative;
  top: -3px;
  margin-right: 5px;
  transform: rotate(-45deg);
  display: inline-block; }
#account-chi-tiet-don-hang .box_status_detail_orders .row_status {
  margin-top: 12px;
  border-top: 1px dotted #ababab;
  overflow: hidden; }
#account-chi-tiet-don-hang .status_order_detail_ {
  position: absolute;
  width: 613px;
  background-color: #fff;
  border: 1px solid #ffcc41;
  border-bottom: 4px solid #ffcc41;
  top: -140px;
  right: -135px;
  padding: 14px 10px;
  text-align: center;
  display: none;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5); }
#account-chi-tiet-don-hang .box_status_detail_orders .status_order_detail_ {
  display: block;
  position: relative;
  top: inherit;
  right: inherit;
  width: auto;
  overflow: hidden;
  border: none;
  box-shadow: none;
  padding: 14px 0;
  background: none; }
#account-chi-tiet-don-hang td.status .box_status_order:hover .status_order_detail_ {
  display: block; }
#account-chi-tiet-don-hang td.status .box_status_order .status_order_detail_:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 62%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffcc41; }
#account-chi-tiet-don-hang .status_order_detail_ .step {
  width: 25%;
  float: left;
  position: relative; }
#account-chi-tiet-don-hang .status_order_detail_ .step > span {
  display: block; }
#account-chi-tiet-don-hang .status_order_detail_ .ic_ {
  width: 34px;
  height: 34px;
  margin: 5px auto;
  position: relative; }
#account-chi-tiet-don-hang .status_order_detail_ .ic_:before {
  width: 34px;
  height: 34px;
  background: url("../images/account/account_sprite.png") no-repeat;
  position: relative;
  z-index: 1;
  display: block;
  content: ""; }
#account-chi-tiet-don-hang .status_order_detail_ .step:after {
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  top: 40px;
  width: 100%;
  background-color: #e9e9e9;
  position: absolute; }
#account-chi-tiet-don-hang .status_order_detail_ .transport:after {
  display: none; }
#account-chi-tiet-don-hang .status_order_detail_ .success:after {
  background-color: #00b4c1; }
#account-chi-tiet-don-hang .status_order_detail_ .success .ic_:before {
  background-position: 0 -290px; }
#account-chi-tiet-don-hang .status_order_detail_ .wait_confirm .ic_:before {
  background-position: -36px -326px; }
#account-chi-tiet-don-hang .status_order_detail_ .receive .ic_:before {
  background-position: -72px -326px; }
#account-chi-tiet-don-hang .status_order_detail_ .transport .ic_:before {
  background-position: -108px -326px; }
#account-chi-tiet-don-hang .status_order_detail_.confirmed .wait_confirm .ic_:before,
#account-chi-tiet-don-hang .status_order_detail_.received .wait_confirm .ic_:before,
#account-chi-tiet-don-hang .status_order_detail_.transported .wait_confirm .ic_:before {
  background-position: -36px -290px; }
#account-chi-tiet-don-hang .status_order_detail_.received .receive .ic_:before,
#account-chi-tiet-don-hang .status_order_detail_.transported .receive .ic_:before {
  background-position: -72px -290px; }
#account-chi-tiet-don-hang .status_order_detail_.transported .transport .ic_:before {
  background-position: -108px -290px; }
#account-chi-tiet-don-hang .status_order_detail_.confirmed .wait_confirm:after,
#account-chi-tiet-don-hang .status_order_detail_.received .wait_confirm:after,
#account-chi-tiet-don-hang .status_order_detail_.transported .wait_confirm:after,
#account-chi-tiet-don-hang .status_order_detail_.received .receive:after,
#account-chi-tiet-don-hang .status_order_detail_.transported .receive:after {
  background-color: #00b4c1; }
#account-chi-tiet-don-hang .status_order_detail_ .step {
  width: 25%;
  float: left;
  position: relative; }
#account-chi-tiet-don-hang .status_order_detail_ .success .ic_:before {
  background-position: 0 -290px; }
#account-chi-tiet-don-hang .status_order_detail_ .ic_:before {
  width: 34px;
  height: 34px;
  background: url("../images/account/account_sprite.png") no-repeat;
  position: relative;
  z-index: 1;
  display: block;
  content: ""; }
#account-chi-tiet-don-hang .tbl_order_detail {
  margin-top: 20px; }
#account-chi-tiet-don-hang .tbl_order_detail .td_product {
  width: 40%; }
#account-chi-tiet-don-hang .tbl_order_detail .td_product > img {
  width: 50px;
  height: 50px;
  float: left; }
#account-chi-tiet-don-hang .tbl_order_detail .td_product > p {
  margin-left: 70px;
  padding-right: 20px;
  width: 100%; }
#account-chi-tiet-don-hang .tbl_order_detail .td_product > p b {
  display: block; }
#account-chi-tiet-don-hang .tbl_order_detail .td_product > p .shop-name {
  display: block;
  color: #666666;
  margin-top: 5px; }
#account-chi-tiet-don-hang .tbl_order_detail td .back_to_buying {
  display: block;
  height: 32px;
  color: #fff;
  width: 115px;
  border-radius: 4px;
  background-color: #00b4c1;
  line-height: 32px;
  margin: 0 auto 5px; }
#account-chi-tiet-don-hang .tbl_order_detail td .back_to_buying:after {
  content: "\f105";
  margin-left: 5px;
  font: normal normal normal 13px/1 FontAwesome; }
#account-chi-tiet-don-hang .tbl_order_detail td .remain {
  color: #666; }
#account-chi-tiet-don-hang .right_detail_orders .buy_again {
  text-align: right;
  margin-top: 10px; }
#account-chi-tiet-don-hang .right_detail_orders .buy_again a {
  color: #00b4c1; }
#account-chi-tiet-don-hang .right_detail_orders .buy_again a:hover {
  text-decoration: underline; }
#account-chi-tiet-don-hang .right_detail_orders .row_payment {
  overflow: hidden;
  margin-left: -30px; }
#account-chi-tiet-don-hang .right_detail_orders .row_payment .cols {
  width: 50%;
  float: left;
  padding-left: 30px;
  margin-top: 20px; }
#account-chi-tiet-don-hang .tbl_order_list tr th {
  background-color: #e9e9e9;
  padding: 14px 10px;
  font-size: 13px;
  font-weight: normal; }
#account-chi-tiet-don-hang .tbl_order_detail .td_product {
  padding-right: 55px; }
#account-chi-tiet-don-hang .tbl_order_list tr td {
  padding: 14px 10px;
  border-top: 1px solid #e9e9e9; }
#account-chi-tiet-don-hang .body_account_page_01 *, #account-chi-tiet-don-hang .body_account_detail * {
  box-sizing: border-box; }
#account-chi-tiet-don-hang .tbl_order_list {
  border: 1px solid #e9e9e9;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
#account-chi-tiet-don-hang .clear {
  padding-top: 20px; }
#account-chi-tiet-don-hang .cont_ {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  height: 180px;
  padding: 10px 30px; }
#account-chi-tiet-don-hang .cont_ .ttl_box, #account-chi-tiet-don-hang .right_detail_orders .box_user_note .ttl_box {
  line-height: 28px;
  border-bottom: 1px dotted #adadad;
  text-transform: uppercase;
  font-size: 14px; }
#account-chi-tiet-don-hang .cont_ .cod {
  font-size: 17px;
  text-align: center;
  margin-top: 14px; }
#account-chi-tiet-don-hang .cont_ .cod:before {
  content: "";
  display: inline-block;
  background: url("../images/account/account_sprite.png") -96px -187px no-repeat;
  width: 42px;
  height: 36px;
  position: relative;
  top: 14px;
  margin-right: 14px; }
#account-chi-tiet-don-hang .cont_.amount_order {
  background-color: #f8f8f8;
  padding-top: 15px; }
#account-chi-tiet-don-hang .amount_order .row {
  overflow: hidden;
  line-height: 16px; }
#account-chi-tiet-don-hang .amount_order .row label {
  float: left;
  width: 110px; }
#account-chi-tiet-don-hang .amount_order .row > p {
  margin-left: 110px; }
#account-chi-tiet-don-hang .amount_order .row > p > span {
  width: 100px;
  text-align: right;
  display: inline-block;
  font-size: 15px; }
#account-chi-tiet-don-hang .amount_order .row_voucher > p > span {
  color: #00b4c1; }
#account-chi-tiet-don-hang .amount_order .row_total > p > span {
  font-weight: bold;
  color: #f79433; }
#account-chi-tiet-don-hang .amount_order .row_total > p i {
  display: inline-block;
  margin-left: 15px;
  font-style: normal;
  color: #00b4c1; }
#account-chi-tiet-don-hang .amount_order .row_total > p i:before {
  content: '';
  width: 7px;
  height: 3px;
  background: transparent;
  border: 2px solid #00b4c1;
  border-top: none;
  border-right: none;
  position: relative;
  top: -3px;
  margin-right: 5px;
  transform: rotate(-45deg);
  display: inline-block; }
#account-chi-tiet-don-hang .cont_.cont_address {
  font-size: 13px;
  line-height: 16px;
  height: 192px; }
#account-chi-tiet-don-hang .cont_address > p {
  margin-top: 12px; }
#account-chi-tiet-don-hang .box_user_note {
  margin-top: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 10px 20px 15px;
  margin: 25px; }
#account-chi-tiet-don-hang .col-md-6 .cols {
  padding: 5px; }

#account-danhgia-binhluan .not_code_voucher {
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  font-weight: 300; }
#account-danhgia-binhluan .prod_item {
  float: left;
  margin-top: 10px; }
#account-danhgia-binhluan .products_bought .list_prods_:after, #account-danhgia-binhluan .products_bought .list_prods_:before {
  content: "";
  display: table; }
#account-danhgia-binhluan .box_product_scroll {
  margin: 0 auto;
  padding: 15px;
  padding-top: 0px; }
#account-danhgia-binhluan .box_product_scroll:hover {
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
  z-index: 2; }
#account-danhgia-binhluan .box_product_scroll .sale_text {
  margin: 0px;
  height: 28px;
  text-align: center;
  color: #fff;
  background: #404040;
  line-height: 28px;
  visibility: hidden; }
#account-danhgia-binhluan .box_product_scroll:hover .sale_text {
  visibility: visible; }
#account-danhgia-binhluan .box_product_scroll .img_product {
  text-align: center;
  position: relative;
  padding-top: 10px; }
#account-danhgia-binhluan .box_product_scroll .name_product {
  color: #333;
  font-size: 13px;
  margin-top: 10px; }
#account-danhgia-binhluan .box_product_scroll .name_product a {
  color: #333; }
#account-danhgia-binhluan .box_product_scroll .name_product a:hover {
  color: #00b4c1; }
#account-danhgia-binhluan .box_product_scroll .price_product {
  position: relative;
  margin-top: 10px; }
#account-danhgia-binhluan .box_product_scroll .price_product span {
  display: block; }
#account-danhgia-binhluan .box_product_scroll .price_product span.old_price {
  text-decoration: line-through;
  color: #999999; }
#account-danhgia-binhluan .box_product_scroll .price_product span.new_price {
  font-size: 15px;
  font-weight: 700;
  color: #00b4c1; }
#account-danhgia-binhluan .box_product_scroll .price_product {
  position: relative;
  margin-top: 10px; }
#account-danhgia-binhluan .box_product_scroll .price_product .percent_ {
  position: absolute;
  padding: 3px 10px;
  border-radius: 3px;
  text-align: center;
  color: #FFF;
  right: 0px;
  top: 10px;
  background: #ff2a00; }
#account-danhgia-binhluan .pagination {
  overflow: hidden;
  margin: 30px 0; }
#account-danhgia-binhluan .pagination ul {
  float: right;
  overflow: hidden; }
#account-danhgia-binhluan .pagination ul li {
  float: left;
  margin-left: 5px;
  list-style-type: none; }
#account-danhgia-binhluan .pagination ul li a {
  display: block;
  height: 25px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  line-height: 23px;
  font-size: 13px;
  color: #666;
  padding: 0 8px; }
#account-danhgia-binhluan .pagination ul li.prev a:before, #account-danhgia-binhluan .pagination ul li.next a:before {
  content: "\f104";
  font: normal normal normal 18px/1 FontAwesome;
  color: #666;
  line-height: 25px; }
#account-danhgia-binhluan .pagination ul li a:hover {
  border-color: #999;
  color: #fff }
#account-danhgia-binhluan .pagination ul li.next a:before {
  content: "\f105"; }
#account-danhgia-binhluan .comment_bt {
  text-align: center;
  border: 1px solid #e9e9e9; }
#account-danhgia-binhluan .comment_bt .numb {
  font-size: 30px;
  color: #0ab7c3; }
#account-danhgia-binhluan .ttl_rating {
  padding-top: 20px;
  font-size: 15px;
  margin-top: 15px; }
#account-danhgia-binhluan .box_comment_acc {
  overflow: hidden;
  margin-top: 20px;
  padding: 10px; }
#account-danhgia-binhluan .box_comment_acc .avatar {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin-top: 4px; }
#account-danhgia-binhluan .box_comment_acc .box_txt_comment {
  margin-left: 50px; }
#account-danhgia-binhluan .box_comment_acc .date_comment {
  overflow: hidden;
  color: #666; }
#account-danhgia-binhluan .box_comment_acc .date_comment .date, #account-danhgia-binhluan .box_comment_acc .date_comment .grey_stars {
  float: left;
  margin-right: 10px; }
#account-danhgia-binhluan .grey_stars .yellow_stars {
  display: block;
  width: 100%;
  background: url("../images/rating_stars.gif") 0 0 repeat-x;
  height: 15px; }
#account-danhgia-binhluan .box_comment_acc .name_prod {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px; }
#account-danhgia-binhluan .box_comment_acc .comment_ {
  line-height: 19px;
  font-size: 13px;
  margin-top: 10px; }
#account-danhgia-binhluan .box_comment_acc .name_prod .useful {
  display: inline-block;
  background-color: #00b4c1;
  color: #fff;
  font-size: 11px;
  border-radius: 10px;
  padding: 0 8px;
  margin-left: 10px;
  font-weight: normal; }
#account-danhgia-binhluan .box_comment_acc .comment_ .view_more {
  color: #00b4c1;
  font-size: 12px;
  margin-left: 5px; }
#account-danhgia-binhluan .box_qa_acc {
  border-top: 1px dotted #b1b1b1; }

#account-magiamgia .not_code_voucher {
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  font-weight: 300; }
#account-magiamgia .ttl_receive_voucher {
  text-align: center;
  position: relative;
  padding: 10px; }
#account-magiamgia .ttl_receive_voucher:before {
  content: "";
  display: block;
  width: 100%;
  left: 0;
  top: 10px;
  border-top: 1px dotted #adadad;
  position: absolute; }
#account-magiamgia .ttl_receive_voucher span {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 15px;
  position: relative;
  z-index: 1; }
#account-magiamgia .cols {
  float: left;
  margin-top: 30px;
  padding-left: 30px;
  box-sizing: border-box; }
#account-magiamgia .cols .cont_ {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 14px 30px 20px;
  text-align: center; }
#account-magiamgia .cols .cont_ p .view_detail {
  font-size: 12px;
  color: #00b4c1;
  margin-left: 5px; }
#account-magiamgia .cols .cont_ .just_view_ {
  display: inline-block;
  border: 1px solid #00b4c1;
  border-radius: 4px;
  line-height: 38px;
  color: #00b4c1;
  font-size: 14px;
  margin-top: 14px;
  padding: 0 40px;
  text-transform: uppercase; }
#account-magiamgia .clear {
  padding: 10px; }
#account-magiamgia .cont_item_ {
  border: 1px dashed #999999;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  line-height: 19px;
  position: relative;
  margin: 5px; }
#account-magiamgia .cont_item_ .scissors {
  background-color: #fff;
  width: 60px;
  position: absolute;
  top: -20px;
  right: 15px; }
#account-magiamgia .cont_item_ .scissors:before {
  display: inline-block;
  content: "";
  background: url("../images/account/account_sprite.png") -100px -230px no-repeat;
  width: 34px;
  height: 28px;
  position: absolute;
  top: 5px;
  left: 10px; }
#account-magiamgia .cont_item_ .code_voucher {
  text-align: center; }
#account-magiamgia .cont_item_ .code_voucher > span {
  color: #666;
  margin-bottom: 5px;
  display: block; }
#account-magiamgia .cont_item_ .code_voucher p > b {
  color: #f79c43;
  font-size: 24px; }
#account-magiamgia .cont_item_ .code_voucher p > a {
  display: inline-block;
  font-size: 11px;
  color: #fff;
  background-color: #00b4c1;
  padding: 0 5px;
  line-height: 16px;
  margin-left: 5px;
  border-radius: 10px;
  position: relative;
  top: -4px; }
#account-magiamgia .cont_desc {
  margin-top: 10px;
  border-top: 1px dotted #aaaaaa; }
#account-magiamgia .cont_desc p {
  margin-top: 10px; }
#account-magiamgia .item_voucher .cont_desc p label {
  color: #666; }
#account-magiamgia .cont_desc p .price {
  font-size: 15px;
  color: #0ab7c3; }
#account-magiamgia .cont_desc p .date {
  color: #fe3209; }
#account-magiamgia .cont_desc p .status {
  color: #f79433; }

/*# sourceMappingURL=account1.css.map */
