@charset "utf-8";
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
*{
    padding: 0;
    margin: 0;
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
#owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
#owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

button {
  background: transparent;
  border: 0;
  outline: none; }

ul {
  margin-bottom: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  margin: 0;
  font-size: inherit; }

p {
  font-family: 'Open Sans', sans-serif; }
.no-padding {padding:0}
.input-control {
  width: 100%;
  border: solid 1px #31353D;
  background: transparent;
  outline: none; }

.input-control.type_1 {
  background: #EEEFF7;
  border: 0; }

.img-fix {
  max-width: 100%; }

.text-overflow, .header-panel-mobile ul.top-linklists-mobile a, .big-collection .tab-navigation li a, .product-grid h3, .product-list .product-info h2, .widget_blog .list-post .small-title h3, .footer-news .list-news li h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.button {
  display: inline-block;
  line-height: 40px;
  background: transparent;
  padding: 0 25px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px; }

.button.transparent {
  border: solid 2px #31353D;
  color: #31353D; }
  .button.transparent:hover {
    background: #31353D;
    color: #EEEFF7; }

.button.blue {
  border: solid 2px #445878;
  color: #EEEFF7; }
  .button.blue:hover {
    background: #31353D;
    border-color: #31353D;
    color: #EEEFF7; }



.sprite {
  background: url("../images/spr1.png") no-repeat; }

.ico-search, .ico-cart, .ico-bar {
  display: inline-block;
  width: 20px;
  height: 20px; }

.ico-search {
  background-position: 0 0; }

.ico-cart {
  background-position: -22px 0px; }

.ico-bar {
  background-position: -69px -3px; }

.top-header {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #EEEFF7;
  background: #1C1D21; }
  .top-header ul.top-linklists {
    text-align: right; }
    .top-header ul.top-linklists li {
      line-height: 40px;
      display: inline-block;
      margin-left: 25px;
      text-align: left; }
      .top-header ul.top-linklists li a {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
    .top-header ul.top-linklists > li:hover > a {
      color: #F6435B; }
  .top-header .has-sub-linklist {
    position: relative; }
    .top-header .has-sub-linklist.last .sub-linklist {
      left: auto;
      right: 0; }
      .top-header .has-sub-linklist.last .sub-linklist:before {
        left: auto;
        right: -15px; }
    .top-header .has-sub-linklist .sub-linklist {
      position: absolute;
      z-index: 11;
      padding: 5px 0;
      margin-top: 8px;
      text-align: left;
      top: 100%;
      left: -50px;
      width: 300px;
      visibility: hidden;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -moz-transform: scaleY(0);
      transform-origin: 0 0 0;
      background: #1C1D21; }
      .top-header .has-sub-linklist .sub-linklist li {
        display: block;
        margin-left: 0; }
        .top-header .has-sub-linklist .sub-linklist li a {
          display: block;
          color: #EEEFF7;
          padding: 0 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .top-header .has-sub-linklist .sub-linklist li a:hover {
            color: #F6435B; }
      .top-header .has-sub-linklist .sub-linklist:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 80px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #1C1D21; }
      .top-header .has-sub-linklist .sub-linklist:after {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 8px;
        background: transparent; }
    .top-header .has-sub-linklist:hover .sub-linklist {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      opacity: 1;
      visibility: visible;
  }
    .top-header .custom-text {
    margin-bottom: 0;
    line-height: 40px;
    text-align: right; }
    .top-header .custom-text span {
      display: inline-block;
      margin-right: 20px; }
      .top-header .custom-text span:first-child {
        margin-left: 0; }


/*BIBIAM + follow header-top
*/
.list-unstyled .title_header
  {
  font-weight:700;
  padding-bottom:5px;
  border-bottom:1px #CCC dotted;
  margin-bottom:10px;
  font-size:13px;
  }
.list-unstyled .list_order > ul >li
  {
  padding:0px 3px;
  }
.list-unstyled .list_order a.view_all
  {
  color:#00b4c1;
  display:block
  }
.search_order_quick
  {
  margin-top:10px;
  }
.search_order_quick .title_
  {
  border-bottom:1px #CCC dotted;
  position:relative;
  margin-bottom:8px;
  }
.search_order_quick .title_ span
  {
  position:absolute;
  top:-25px;
  left: 30px;
  display:block;
  width:200px;
  text-align:center;
  font-style:italic;
  font-weight: bold;
  }
.search_order_quick input[type='text']
  {
  margin-top:10px;
  margin-left: 20px;
  padding-left: 10px;
  border:1px #CCC solid;
  border-radius:3px;
  height:30px;
  width:250px;
  font-family:"Open Sans";
  font-size:12px;
  color:#666666
  }
button.but_quick_search_order
  {
  margin-top:10px;
  border:none;
  border-radius:3px;
  background:#f6435b;
  width:100%;
  line-height:30px;
  color:#FFF;
  text-transform:uppercase;
  font-family:"Open Sans";
  }
/*End header top*/  





.header-panel-mobile {
  position: relative;
  display: table;
  width: 100%; }
  .header-panel-mobile > a {
    display: table-cell;
    width: 25%;
    height: 50px;
    font-size: 20px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    border-right: solid 1px rgba(255, 255, 255, 0.2); }
.header-panel-mobile .cart-mobile {position:relative}
.header-panel-mobile .cart-mobile .mini-cart-count {
  display: inline-block;
    background: #E50D0D;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    border-radius: 50%;
    font-size: 12px;
    left: 50%;
    margin-left: 2px;
}
    .header-panel-mobile > a:first-child {
      border-left: solid 1px rgba(255, 255, 255, 0.2); }
  .header-panel-mobile .four-elem a {
    width: 25%; }
  .header-panel-mobile .three-elem a {
    width: 33.33333333%; }
  .header-panel-mobile .icon-cart {
    -webkit-filter: invert(1);
    filter: invert(1); }
  .header-panel-mobile .user-link {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 30;
    background: #31353D;
    color: #EEEFF7; }
    .header-panel-mobile .user-link li {
      display: block;
      line-height: 30px; }
      .header-panel-mobile .user-link li a {
        display: block;
        padding: 10px 15px;
        font-size: 14px; }
  .header-panel-mobile .btn-custom-text:after {
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 20px; }
  .header-panel-mobile .btn-custom-text.active:after {
    content: "\f106"; }
  .header-panel-mobile ul.top-linklists-mobile {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    background: #31353D;
    font-size: 14px; }
    .header-panel-mobile ul.top-linklists-mobile a {
      display: block;
      padding: 15px; }
    .header-panel-mobile ul.top-linklists-mobile .has-sub-linklist {
      padding-right: 55px; }
      .header-panel-mobile ul.top-linklists-mobile .has-sub-linklist em {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        line-height: 50px;
        text-align: center; }
      .header-panel-mobile ul.top-linklists-mobile .has-sub-linklist .sub-linklist {
        position: initial;
        visibility: visible;
        background: transparent;
        width: auto;
        margin-top: 0;
        padding: 0 0 0 20px;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -moz-transform: scaleY(1); }
        .header-panel-mobile ul.top-linklists-mobile .has-sub-linklist .sub-linklist:before {
          display: none; }
        .header-panel-mobile ul.top-linklists-mobile .has-sub-linklist .sub-linklist a {
          line-height: 40px; }
          .header-panel-mobile ul.top-linklists-mobile .has-sub-linklist .sub-linklist a:hover {
            background: transparent; }

.bottom-header {
  position: relative; }
  .bottom-header .background {
    background-color: #1C1D21;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .bottom-header .logo {
    display: table;
  
    font-size: 0;
    width: 100%; }
    .bottom-header .logo .wrap-logo {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      background: #fff;
      height: 80px; }
  .bottom-header .main-nav {
    font-family: 'Montserrat';
    color: #EEEFF7;
    text-align: center; }
    .bottom-header .main-nav .has-mega {
      position: static; }
      .bottom-header .main-nav .has-mega:hover .megamenu {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1); }
    .bottom-header .main-nav .megamenu {
      position: absolute;
      z-index: 20;
      padding: 30px 25px;
      left: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      margin-left: -15px;
      text-align: left;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform-origin: 0 0 0;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear; }
      .bottom-header .main-nav .megamenu .background {
        position: absolute;
        background: #31353D;
        opacity: 0.95;
        z-index: -1; }
      .bottom-header .main-nav .megamenu .col-md-4 {
        margin-bottom: 20px; }
      .bottom-header .main-nav .megamenu h3 {
        margin-bottom: 15px; }
        .bottom-header .main-nav .megamenu h3:after {
          content: "";
          display: block;
          margin-top: 7px;
          width: 30px;
          height: 3px;
          background: #d6d6d6; }
      .bottom-header .main-nav .megamenu ul {
        font-family: "Open Sans", sans-serif;
        text-transform: initial; }
        .bottom-header .main-nav .megamenu ul li {
          position: relative;
          line-height: 34px;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease; }
          .bottom-header .main-nav .megamenu ul li:hover {
            color: #F6435B;
            padding-left: 15px; }
          .bottom-header .main-nav .megamenu ul li:hover:before {
            content: "\f105";
            font-family: 'FontAwesome';
            position: absolute;
            left: 0;
            top: 0;
            line-height: 34px; }
          .bottom-header .main-nav .megamenu ul li a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
      .bottom-header .main-nav .megamenu .banner-megamenu {
        margin-top: 20px; }
    .bottom-header .main-nav > li {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      margin-right: 25px;
      line-height: 82px; }
      .bottom-header .main-nav > li.last {
        margin-right: 0; }
      .bottom-header .main-nav > li > a {
        position: relative; }
        .bottom-header .main-nav > li > a:after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 30px;
          height: 3px;
          background: #d6d6d6;
          transform: scaleX(0);
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform-origin: 0 0 0;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease; }
      .bottom-header .main-nav > li:hover a:after, .bottom-header .main-nav > li.active a:after {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1); }
    .bottom-header .main-nav .has-sub {
      position: relative; }
      .bottom-header .main-nav .has-sub .has-sub {
        display: table;
        width: 100%; }
        .bottom-header .main-nav .has-sub .has-sub > a {
          display: table-cell;
          width: 80%;
          max-width: 1px; }
        .bottom-header .main-nav .has-sub .has-sub .fa {
          display: table-cell;
          width: 20%;
          text-align: center;
          line-height: 50px; }
      .bottom-header .main-nav .has-sub ul {
        position: absolute;
        z-index: 20;
        top: 100%;
        left: 0;
        width: 250px;
        visibility: hidden;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform-origin: 0 0 0;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        text-align: left;
        background: #31353D;
        opacity: 0.95; }
        .bottom-header .main-nav .has-sub ul li {
          font-family: 'Open Sans', sans-serif;
          text-transform: initial;
          line-height: 50px;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease; }
          .bottom-header .main-nav .has-sub ul li a {
            display: block;
            padding: 0 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .bottom-header .main-nav .has-sub ul li:hover {
            background: rgba(255, 255, 255, 0.2); }
        .bottom-header .main-nav .has-sub ul .level2 {
          top: 0;
          left: 100%; }
      .bottom-header .main-nav .has-sub:hover > ul {
        visibility: visible;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1); }
    .bottom-header .main-nav li.last .level2 {
      left: auto;
      right: 100%; }
    .bottom-header .main-nav li:nth-last-of-type(2) .level2 {
      left: auto;
      right: 100%; }
  .bottom-header .header-action-btn form{
    padding-top: 25px;
    padding-left: 30px;
   
    position: relative;
  }

  .bottom-header .header-action-btn input[type='text']{
      line-height: 34px;
      width: 95%;
  }
  .bottom-header .header-action-btn input[type='text']:focus{
      background: #fff;
      border: 1px solid #000;
  }
    .bottom-header .header-action-btn form .input-control{
     border: 1px solid #EEEFF7;
    background: #EEEFF7;
    padding: 0 50px 0 15px;

  }

  .bottom-header .header-action-btn form button{
      width: 50px;
      position: absolute;
      right: 0;
    
      color: #fff;
      background-color: #f6435b;
      line-height: 36px;
  }
   .bottom-header .header-action-btn a{
    text-align: right;
    margin-left: 25px;
   }
    .header-action-btn i.fa-user{
      font-size: 28px;
    }
    .fa-user{
      color: #fff;

    }
  .bottom-header .ico-cart {
    position: relative;
    margin: 38px 0 0 0; }
    .bottom-header .ico-cart:after {
      content: "" attr(data-count) "";
      position: absolute;
      top: -15px;
      right: -16px;
      display: block;
      width: 22px;
      line-height: 22px;
      font-size: 11px;
      text-align: center;
      color: #EEEFF7;
      background: #F6435B;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%; }

.main-category h2 {
  text-transform: uppercase;
  line-height: 50px;
  background: #31353D;
  padding: 0 15px;
  color: #EEEFF7; }
  .main-category h2 .fa {
    margin-right: 5px; }
.main-category .desktop-category {
  background: #fff;
  border-left: solid 1px #EEEFF7; }
  .main-category .desktop-category > li {
    position: static;
    line-height: 39px;
    border-bottom: solid 1px #EEEFF7;
    border-left: solid 3px #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    .main-category .desktop-category > li:hover {
      border-left-color: #31353D; }
    .main-category .desktop-category > li > a {
      display: block;
      position: relative;
      padding: 0 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .main-category .desktop-category > li.has-subcate > a {
      padding-right: 30px; }
      .main-category .desktop-category > li.has-subcate > a:after {
        content: "\f105";
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
        line-height: 39px;
        font-family: 'FontAwesome';
        font-size: 16px; }
  .main-category .desktop-category .subcate {
    position: absolute;
    top: 0;
    left: 100%;
    color: #31353D;
    z-index: 30;
    height: 100%;
    width: 700px;
    overflow: hidden;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform-origin: 0 0 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear; }
.main-category .desktop-category .has-banner .subcate {
  width:900px;
}
    .main-category .desktop-category .subcate .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: #EEEFF7;
      opacity: 0.95; }
    .main-category .desktop-category .subcate h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .main-category .desktop-category .subcate li {
      position: relative;
      line-height: 26px;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      .main-category .desktop-category .subcate li:hover {
        padding-left: 10px;
        color: #F6435B; }
      .main-category .desktop-category .subcate li:hover:before {
        content: "\f105";
        font-family: 'FontAwesome';
        line-height: 26px;
        position: absolute;
        left: 0;
        top: 0; }
      .main-category .desktop-category .subcate li a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .main-category .desktop-category .has-subcate:hover .subcate {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1); }
.main-category .mobile-category {
  background: #fff;
  border-left: solid 1px #EEEFF7;
  border-right: solid 1px #EEEFF7; }
  .main-category .mobile-category li {
    position: relative; }
    .main-category .mobile-category li ul {
      padding-left: 50px; }
      .main-category .mobile-category li ul ul {
        padding-left: 30px; }
      .main-category .mobile-category li ul a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .main-category .mobile-category > li {
    line-height: 39px;
    border-bottom: solid 1px #EEEFF7; }
    .main-category .mobile-category > li > a {
      display: block;
      position: relative;
      padding: 0 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .main-category .mobile-category > li em {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      line-height: 40px;
      text-align: center;
      font-size: 18px; }

.has-icon > ul > li > a {
  padding-left: 55px; }
  .has-icon > ul > li > img {
    content: "";
    position: absolute;
    display: block;
    padding: 10px;
    
  background: url() no-repeat;    
  }
.has-icon > ul > li:nth-of-type(1) a:before {
  background-position:0 0;  }
.has-icon > ul > li:nth-of-type(2) a:before {
  background-position:-30px 0;
   }
.has-icon > ul > li:nth-of-type(3) a:before {
  background-position:-60px 0;
   }
.has-icon > ul > li:nth-of-type(4) a:before {
  background-position:-90px 0;
  }
.has-icon > ul > li:nth-of-type(5) a:before {
  background-position:-120px 0;
 }
.has-icon > ul > li:nth-of-type(6) a:before {
  background-position:-150px 0;
   }
.has-icon > ul > li:nth-of-type(7) a:before {
  background-position:-180px 0;
  }
.has-icon > ul > li:nth-of-type(8) a:before {
  background-position:-210px 0; }
.has-icon > ul > li:nth-of-type(9) a:before {
 background-position:-240px 0; }
.has-icon > ul > li:nth-of-type(10) a:before {
  background-position:-270px 0; }

.slideshow img {
  width: 100%; }

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8; }

#search-modal .modal-container {
  position: absolute;
  width: 600px;
  top: 20%;
  left: 50%;
  margin: -15px 0 0 -300px; }
#search-modal form {
  position: relative;
  width: 100%; }
  #search-modal form .input-control {
    line-height: 40px;
    padding: 0 30px 0 15px;
    background: rgba(255, 255, 255, 0.7);
    border: solid 1px #31353D;
    color: #31353D; }
    #search-modal form .input-control::-webkit-input-placeholder {
      color: #31353D;
      font-style: italic; }
  #search-modal form button {
    position: absolute;
    right: 5px;
    top: 10px;
    filter: invert(1);
    -webkit-filter: invert(1); }

#mini-cart-modal .modal-container {
  position: absolute;
  width: 400px;
  max-height: 60%;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  background: rgba(255, 255, 255, 0.9);
  color: #31353D;
  padding: 20px 15px;
  overflow-y: scroll; }
  #mini-cart-modal .modal-container h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px; }
    #mini-cart-modal .modal-container h2:after {
      content: "";
      display: block;
      margin-top: 7px;
      width: 30px;
      height: 3px;
      background: #31353D; }
#mini-cart-modal .item {
  margin-bottom: 15px; }
  #mini-cart-modal .item .item-img {
    display: block;
    width: 30%;
    float: left; }
  #mini-cart-modal .item .item-info {
    width: 60%;
    float: left;
    padding-left: 15px;
    padding-right: 10px; }
    #mini-cart-modal .item .item-info h3 {
      margin-bottom: 10px;
      line-height: 24px;
      text-transform: uppercase; }
      #mini-cart-modal .item .item-info h3 a:hover {
        color: #445878; }
  #mini-cart-modal .item .remove {
    width: 10%;
    float: left;
    text-align: right; }
    #mini-cart-modal .item .remove i {
      display: inline-block;
      margin-top: 2px;
      width: 20px;
      height: 20px;
      background-position: -47px -2px; }
#mini-cart-modal .action-btn {
  padding-top: 15px;
  border-top: solid 1px #31353D; }


#login-modal .modal-container {
  position: absolute;
  width: 600px;
  top: 20%;
  left: 45%;
  margin-left: -200px;
  background: #fff;
  color: #31353D;
  padding: 20px 15px;
  overflow-y: scroll; 
}
#login-modal .modal-container h2.login_title{
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
#login-modal .modal-container h2.login_title:after{
  background: #f25862;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
  top: 13%;
}
#login-modal .modal-container .new_user{
  margin-bottom: 20px;
}
#login-modal .modal-container .form-field{
  margin-bottom: 15px;
}
x
#login-modal .modal-container .form-field .required{
  color: red;
}


#login-modal .modal-container .form-field .input-control{
  height: 40px;
  padding: 5px 10px;
  border: solid 1px transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#login-modal .modal-container .blue{
  background-color: #f6435b;
  height: 45px;
  color: #EEEFF7;
  font-size: 16px;
  font-family: 'Montserrat';}
#login-modal .modal-container .blue:hover{
  background: #445878;
border: solid 2px #445878;}

#login-modal .modal-container .social-registration-buttons .button{
  text-transform: none;
  padding: 0px 11px 11px 11px;
  height: 40px;
  border: none;
  font-size: 14px;
  width: 145px;
  text-align: left;
  line-height: 40px;
  margin-top: 1px;
  background-color: white;
  color: grey !important;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16)
}
#login-modal .modal-container .social-registration-buttons .button img{
  padding-right: 10px;
}



.offset-menu {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  background: #31353D;
  overflow-y:scroll;
  color: #EEEFF7;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

  .offset-menu .mobile-menu a {
    display: block; }
  .offset-menu .mobile-menu .has-sub {
    position: relative; }
    .offset-menu .mobile-menu .has-sub li {
      line-height: 40px; }
      .offset-menu .mobile-menu .has-sub li a {
        padding: 0 20px; }
      .offset-menu .mobile-menu .has-sub li em {
        top: 0; }
    .offset-menu .mobile-menu .has-sub .has-sub ul {
      padding-left: 15px; }
  .offset-menu .mobile-menu > li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2); }
    .offset-menu .mobile-menu > li > a {
      font-family: 'Montserrat';
      text-transform: uppercase;
      line-height: 26px;
      padding: 14px 20px; }
    .offset-menu .mobile-menu > li > em {
      top: 7px; }
    .offset-menu .mobile-menu > li em {
      display: block;
      position: absolute;
      right: 0;
      width: 40px;
      line-height: 40px;
      font-size: 18px;
      text-align: center; }


.privacy {
  margin-top:30px;
}
.privacy .icon {float:left}
.privacy .meta {margin-left:83px}
.privacy .meta h3 {
  text-transform:uppercase;
  font-size:16px;
  padding-bottom:7px;
  margin-bottom:7px;
  position:relative;
}
.privacy .meta h3:after {
  content:"";
  position:absolute;
  display:block;
  bottom:0;
  left:0;
  width:33px;
  height:3px;
  background:#333;
}
.privacy .meta p {
  font-size:13px;
  opacity:0.8;
  margin-bottom:0;
}

.big-collection {
  margin-top: 30px;
  background: #fff; }
  .big-collection .collection-area {
    border-top: solid 1px; }
  .big-collection .bc-title {
    border-left: solid 3px;
    opacity: 0.8;
    padding: 18px 10px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px; }
  .big-collection .bc-menu .use-lazy {
    min-height: 200px;
    background: url("../images/loading.gif") center center no-repeat; }
  .big-collection .tab-navigation li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    background: #333; }
    .big-collection .tab-navigation li a {
      display: block;
      color: #fff;
      padding: 18px 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      text-align: center;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
    .big-collection .tab-navigation li.active a, .big-collection .tab-navigation li:hover a {
      background: rgba(255, 255, 255, 0.2);

    }

.product-grid {
  position: relative;
  margin-top: 30px;
  font-family: 'Montserrat';
  overflow: hidden;
  display: inline-block;
  text-align: center; }
  .product-grid .product-img {
    display: block; 
    text-align:center;
  }
  .product-grid.hover-zoom .product-img.use-lazy {
    background: url("../images/loading.gif") no-repeat center center;
    min-height: 200px; }
  .product-grid .level-pro-sale {
    background: #F6435B;
    color: #fff;
    min-width: 78px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 13; }
  .product-grid h3 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height:1.5;
    text-transform: uppercase;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; }
    .product-grid h3:hover {
      color: #F6435B; }
.product-grid .price {
  color:#F6435B;
  font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
}
  .product-grid .price del {
    font-size: 13px;
        color: #31353D;
    opacity:0.6;
    margin-right: 5px; }
  .product-grid .price span {
    font-size: 15px; }
  .product-grid .actions {    
    margin-top: 10px; }
    .product-grid .actions .btn-transparent {
      line-height: 38px;
    width:50%;
      font-size: 12px;
    border:solid 1px #e6e6e6;
    text-align:center;
      text-transform: uppercase;
    transition:all 0.3s ease;
      -moz-transition:all 0.3s ease;
      -webkit-transition:all 0.3s ease;
  }
.product-grid .actions a.btn-transparent {line-height:38px;}
.product-grid .actions .btn-transparent:last-child {
  border-left:0;
}
      .product-grid .actions .btn-transparent:hover {
        color: #F6435B; }
  .product-grid .secondary-img {
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(100%, 0px, 0px);
    -webkit-transform: translate3d(100%, 0px, 0px);
    -moz-transform: translate3d(100%, 0px, 0px);
    -ms-transform: translate3d(100%, 0px, 0px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;   
    opacity: 0;
    visibility: hidden; 
    height: 340px;}
  .product-grid .primary-img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    height: 340px; }
  .product-grid:hover .primary-img {
    transform: translate3d(-100%, 0px, 0px);
    -webkit-transform: translate3d(-100%, 0px, 0px);
    -moz-transform: translate3d(-100%, 0px, 0px);
    -ms-transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
    visibility: hidden; }
  .product-grid:hover .secondary-img {
    visibility: visible;
    z-index: 9;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .product-grid.hover-zoom .product-img {
    overflow: hidden; }
  .product-grid.hover-zoom:hover .primary-img {
    transform: translate3d(0, 0px, 0px) scale(1.1);
    -webkit-transform: translate3d(0, 0px, 0px) scale(1.1);
    -moz-transform: translate3d(0, 0px, 0px) scale(1.1);
    -ms-transform: translate3d(0, 0px, 0px) scale(1.1);
    opacity: 1;
    visibility: visible; }

.product-grid.type_2 .product-img {
  position: relative;
  overflow: hidden;
  text-align:center;
}
  .product-grid.type_2 .product-img .actions {
    width: 100%;
    margin-top: 0;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    border-bottom: 0;
    border-top: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease; }
    .product-grid.type_2 .product-img .actions .btn-fill {
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-size: 12px;
      display: block;
      text-align: center;
      width: 50%;
      float: left;
      line-height: 40px;
      height: 40px;
      color: #EEEFF7;
      background: #31353D;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      .product-grid.type_2 .product-img .actions .btn-fill:last-child {
        border-left: solid 1px #EEEFF7; }
      .product-grid.type_2 .product-img .actions .btn-fill:hover {
        background: #F6435B;
        color: #fff; }
.product-grid.type_2 .price del {
  opacity: 0.5; }
.product-grid.type_2 .price span {
  color: #445878; }
.product-grid.type_2:hover .actions {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0); }






.collection .page-title {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-color: #000;
  text-align: center; }
  .collection .page-title h1 {
    position: relative;
    display: inline-block;
    margin-top: -37px;
    top: 44%;
    font-size: 34px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.7); }
.collection .page-title:after {display:none}
.collection .title-collection {
  margin: 20px 0;
  font-size: 24px;
  line-height: 45px;
  border-bottom: solid 1px #EEEFF7; }


.tooltip.top .tooltip-arrow {
  border-top-color: #1C1D21; }

#footer {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  background: #1C1D21; }
  #footer .footer-title {
    color: #EEEFF7;
    font-size: 14px;
    margin-bottom: 25px;
    padding-top: 10px;
    text-transform: uppercase; }
    #footer .footer-title:after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      margin-top: 8px;
      background: #c6c6c6; }
#footer .footer-contact .list-unstyled{
  text-align: left;
}
.block_newsletter{
  padding: 10px;
}
.top-footer {
  color: #EEEFF7;
  padding: 40px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1); }

.footer-contact p {
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0 15px 0; }
.footer-contact ul.address li {
  background-color: #31353D;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #EEEFF7; }
  .footer-contact ul.address li span {
    background-color: #F6435B;
    color: #fff;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
    text-align: center;
    width: 34px; }
  .footer-contact ul.address li.last {
    margin-bottom: 0; }

.footer-news .list-news li {
  margin-bottom: 10px; }
  .footer-news .list-news li h4 {
    margin-bottom: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    .footer-news .list-news li h4:hover {
      color: #F6435B; }
  .footer-news .list-news li .desc {
    font-size: 12px;
    font-style: italic; }
    .footer-news .list-news li .desc a {
      color: #F6435B; }
  
  
  .footer-news .list-news li:last-child {
    margin-bottom: 0; }

.footer-linklists {
  color: #EEEFF7; }
  .footer-linklists ul li {
    line-height: 35px; }
    .footer-linklists ul li a {
      font-size: 13px;
      position: relative;
      font-weight: 400;
      display: block;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      .footer-linklists ul li a:before {
        content: "\f192";
        font-family: 'FontAwesome';
        font-size: 11px;
        margin-right: 10px; }
      .footer-linklists ul li a:hover {
        color: #F6435B; }

.middle-footer {
  color: #ccc;
  padding: 40px 0; }
  .middle-footer h3 {
    margin-bottom: 15px;
    text-transform: uppercase; }

.bottom-footer {
  padding: 15px 0;
  background: #31353D;
  color: #EEEFF7; }
  .bottom-footer .copyright {
    margin-bottom: 0;
    opacity: 0.6;
    line-height: 30px; }
    .bottom-footer .copyright a {
      color: #F6435B; }
    .footer-connect .social-list li {
      display: inline-block;
      margin-left: 5px;
      opacity: 0.6; }
      .footer-connect .social-list li:hover {
        opacity: 1; }
      .footer-connect .social-list li a {
        display: block;
        width: 30px;
        line-height: 30px;
        border: solid 1px #EEEFF7;
        text-align: center;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px; }
        .footer-connect .social-list li a:hover {
          color: #fff; }
        .footer-connect .social-list li a.facebook:hover {
          background: #3b5998;
          border-color: #3b5998; }
        .footer-connect .social-list li a.twitter:hover {
          background: #1dcaff;
          border-color: #1dcaff; }
        .footer-connect .social-list li a.google:hover {
          background: #d34836;
          border-color: #d34836; }
        .footer-connect .social-list li a.youtube:hover {
          background: #cc181e;
          border-color: #cc181e; }
#toolbox {
  position: fixed;
    right: 10px;
    bottom: 45%;
  z-index:800;
}
#toolbox a {
  display:block;
  width:34px;
  height:34px;
  line-height:34px;
  color:#fff;
  font-size:16px;
  text-align: center;
    margin-bottom: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#toolbox a.mobile {font-size:24px}
#toolbox li {position:relative}
#toolbox li .tooltip {
  top: 0;
    right: 110%;
    opacity: 0;
  visibility:hidden;
    line-height: 34px;
    color: #fff;
    white-space: nowrap;
    padding: 0 15px;
    background: #333;
    border-radius: 4px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
}
#toolbox li .tooltip:after {
      content: "";
    position: absolute;
    left: 100%;
    top: 9px;
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #000;
}
#toolbox li:hover .tooltip{
  opacity:1;
  visibility:visible;
}
/*# sourceMappingURL=styles.css.map */

.toolbox .modal-container { 
  position: absolute;
    width: 500px;
    max-height: 600px;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    background: #fff;
    color: #31353D;
        padding: 80px 15px 30px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}
.toolbox .modal-container:after {
  position:absolute;
  font-family:'FontAwesome';
  font-size:20px;
  top:20px;
  left:50%;
  margin-left:-20px;
  width:40px;
  line-height:40px;
  border:solid 1px #ccc;
  border-radius:50%;
  text-align:center;
}
.toolbox .modal-container .footerbox {
  text-align:center;
  margin-top:15px;
}
.toolbox .modal-container .close-modal {
  display:inline-block;
  padding:5px 15px;
  background:#F6435B;
  color:#fff;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
} 
.toolbox .modal-container .close-modal:hover {
  background:#31353D; 
}
#contact-box .modal-container:after {
  content:"\f003";
}
#contact-box form {margin-top:15px}
#contact-box .input-control {
  padding:7px 15px;
  height:35px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-color:#ccc;
}
#contact-box textarea.input-control {height:100px}
#contact-box .input-control:focus {border-color:#222;}
#contact-box .button {
  padding: 0 15px;
    line-height: 30px;
    font-size: 13px;
}
#hotline-box .modal-container {padding:80px 60px 30px}
#hotline-box .modal-container:after {
  content:"\f10b";
}
#address-box .modal-container:after {
  content:"\f041";
}
#address-box .img-map {width:100%;margin-bottom:15px;}
.back-to-top {
  position:fixed;
  z-index:800;
  bottom:35px;
  right:15px;
  background:#F6435B;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  color:#fff;
  width:36px;
  line-height:36px;
  text-align:center;
  opacity:0.7;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
}
.back-to-top:hover {
  opacity:1;
  color:#fff;
}
.nav-fixed-left {
    position: fixed;
    left: 0px;
    top: 20%;
    z-index: 10;
  opacity:0;
  visibility:hidden;
  transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}
.nav-fixed-left.visible {
  opacity:1;
  visibility:visible;
}
.nav-fixed-left li {
  margin: 0;   
    background: #fff;
  position:relative;
}
.nav-fixed-left li .tooltip {
  top: 0;
    left: 110%;
    opacity: 0;
  visibility:hidden;
    line-height: 34px;
    color: #fff;
    white-space: nowrap;
    padding: 0 15px;
    background: #333;
    border-radius: 4px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
}
.nav-fixed-left li .tooltip:after {
      content: "";
    position: absolute;
    right: 100%;
    top: 9px;
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #000;
}
.nav-fixed-left li:hover .tooltip{
  opacity:1;
  visibility:visible;
}
.nav-stacked>li+li {margin:0}
.nav>li>a:focus, .nav>li>a:hover {background:transparent}
.nav-fixed-left li a {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width: 35px;
    height: 35px;
  padding:0;
  overflow:hidden;
  border: 1px solid #e2e2e2;
}
.nav-pills>li.active>a img{
  -moz-filter:invert(1) brightness(3);
  -webkit-filter:invert(1) brightness(3);
  -filter:invert(1) brightness(3);
}
.nav-fixed-left li img{
  max-width:20px;
}

/*-----------------QUICK VIEW-----------------*/
#quickview-template, .quick-view {
  bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1100;
   
}
.quick-view .overlay {
  background: rgba(20, 20, 20, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
}
.quickview-template .content, .quick-view .content {
  width:992px;
  position: relative;   
    margin: 60px auto 0;
    background: #fff;
    padding: 30px 20px;
}
.quick-view .product-img-box {
  margin: 0;
    float: left;
  position: relative;
  width:50%;
  padding:0 15px;
}
.quick-view .product-img-box .product-photo-container {
  position: relative;
    overflow: hidden;
    text-align: center;
}
.quick-view .product-img-box .product-photo-container > a {
  position: relative;
    display: block;
    width: 100%;
}
.quick-view .product-photo-container > a img {
  max-width:100%;
  max-height: 416px;
}
.quick-view .more-view-wrapper {
  margin: 20px 0px 0;
  padding:0 10px;
}
.quick-view .more-view-wrapper ul {padding:0}
.quick-view .more-view-wrapper ul li {padding:0 5px;list-style:none}
.quick-view .more-view-wrapper .owl-theme .owl-controls {
  position:absolute;
  top:50%;
  margin-top:-15px;
  width:100%;
  pointer-events:none;
}
.quick-view .more-view-wrapper .owl-theme .owl-controls .owl-prev, .quick-view .more-view-wrapper .owl-theme .owl-controls .owl-next {
  width:30px;
  line-height:30px;
  height:30px;
  text-align:center;
  color:#fff;
  pointer-events:initial;
}
.quick-view .more-view-wrapper .owl-theme .owl-controls .owl-prev {float:left}
.quick-view .more-view-wrapper .owl-theme .owl-controls .owl-next {float:right}
.quick-view .product-shop {
  width:50%;
  float:right;
}
.quick-view .product-shop .product-title {
  padding-top: 14px;
    margin-bottom: 10px;
    text-align: left;
  color: #000;
    display: block;    
    text-transform: capitalize;
    line-height: 18px;
}
.product-shop .product-title h2, .product-shop .product-title a {
  font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 0;
    line-height: 30px;
    color: #000;
    text-decoration: none;
  font-size:24px;
}
.quick-view .product-shop .product-description {
    margin-bottom: 22px;
    padding: 0;
  font-weight:400;
}

.quick-view .product-shop .prices {
  font-size: 20px;
  font-weight:700;
  display: block;
    margin-bottom: 19px;
    color: #000;
}
.quick-view .product-shop .prices .compare-price {
  text-decoration: line-through;
    color: #b5b5b5;
    
  font-size: 16px;
    font-weight: 200;
}
.quick-view .product-shop .price {
  margin-bottom: 20px;
      font-size: 20px;

}
.quick-view .product-shop .price, .quick-view .product-shop .money {
    font-weight: 700;
}
.quick-view .close-window {
    line-height:34px;
  height: 34px;
   width: 34px;
    position: absolute;
  top: -34px;
    right: 0px;    
  background-color:#FF6029; 
  color:#fff;
    cursor: pointer;    
    opacity: 1;
  text-align:center;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}
.quick-view .close-window:hover {
  transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  opacity:0.9;
}
.quick-view .quantity label {
  width:95px;
  display:inline-block;
}
.quick-view .quantity #quickview-qty {
  width: 46px;
    height: 40px; 
    border: solid 1px #e1e1e1;  
    color: #9a9a9a;
    text-align: center;
    margin: 0 -5px;
    outline: none;
}
.quick-view .quantity button {
  padding: 9px 14px;
    border: solid 1px #e1e1e1;
    color: #9a9a9a;
    background: transparent;
    outline: none;
}
.quick-view .actions {
  margin-top:20px;
}
.quick-view .actions .quickview-add-cart-btn {
    
  color:#fff;
    outline: none;  
   
    margin-right: 20px;
}
.quick-view .content .selector-wrapper {
  margin-bottom:20px;
  font-weight:400;
}
.quick-view .content .selector-wrapper label {
  width:100px;
  display:inline-block;
}
.quick-view .content .selector-wrapper select {
  width:150px;
  border:solid 1px #e1e1e1;
  padding:8px;
}

/*---------------AJAX POPUP-------------- */
.ajax-success-modal .overlay {
  background: rgba(20, 20, 20, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.ajax-success-modal .content {
    background: #fff;
    bottom: auto;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    min-height: 200px;
    padding: 30px;
    position: fixed;
    right: auto;
    top: 50% !important;
    width: 400px;
}
.ajax-success-modal {
  padding:10px 15px;
}

.ajax-success-modal .ajax-bottom {
    margin: 15px 0 0;
  padding:15px 0;
  border-top:solid 1px #D2D2D2;
}

.ajax-success-modal .ajax-product-image{
  width:30%;
  float:left;
}
.ajax-success-modal .ajax-top .right {
  width:70%;
  float:left;
  padding-left:30px;
}
.success-message {    
    
    color: #8b8b8b;    
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  
}
.ajax-product-title {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 24px;
  font-size:16px;
}
.ajax-success-modal .close-modal {  
  height: 34px;
  line-height:34px;
  color:#fff;
   width: 34px;
  text-align:center;
    position: absolute;
  top: -34px;
    right: 0px;     
    cursor: pointer;    
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  
}
.ajax-success-modal .close-modal:hover {
  opacity:0.9;
}
#gmap {height:250px;margin-bottom:15px}

.wrap_loading {
    position: absolute;
    top: 0!important;
    left: 0;    
    height: 500px;
    right: 0;
    display: none;
    width: 100%;
    background: #fff;
    z-index: 1000;
}

.wrap_loading .loading {
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  position:absolute;
}

.wrap_loading .text {
    color: #1c1d21;
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
}

.wrap_loading .ball {
position: relative;
    display: inline-block;
    height: 58px;
    width: 62px;
    vertical-align:middle;
    background: url('../images/loading.gif') no-repeat;
    background-size: 62px 62px;
}


.tab-content{text-align: center;}
.big-collection .tab-content>.tab-pane {position:relative}
/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */




/* Css Loan làm*/

.big-collection.s1 .collection-area h2{
  margin:20px;
  color:#6f0015;
}
.big-collection.s1 .collection-area {
  border:solid 1px #6f0015;
}
.collection-area .sol{
  border-bottom: 1px #e9e9e9 solid;
}
.big_deal {
    float: left;
    width: 399px;
    height: 246px;
    border-right: 1px #e9e9e9 solid;
    box-sizing: border-box;
    padding-top: 10px;
}

.big_deal .img .discount_ {
    background: #F5003B;
    width: 50px;
    border-radius: 50%;
    color: #FFF;
    font-size: 17px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    opacity: 0.8;
}
.big_deal .short_detail {
    overflow: hidden;
   padding: 20px;
}
.big_deal .short_detail .title {
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 1px #000 dotted;
    margin-bottom: 8px;
    font-size: 13px;
}
.big_deal .price {
    margin-bottom: 10px;
}
.big_deal .price .price_sale {
    color: #666;
    text-decoration: line-through;
    font-size: 14px;
}
 .big_deal .price .price_current {
    font-weight: bold;
    color: #00b4c1;
    font-size: 16px;
}
.button_buy_now_deal {
    background: #f6435b;
    height: 42px;
    line-height: 32px;
    padding: 0px 15px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans";
}
.button_buy_now_deal i {
    font-size: 14px;
}


.footer-connect .social_icon .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.social_icon .social-list li {
    display: inline-block;
    opacity: 0.6;
    border: 1px #fff solid;
}
.social-list li:hover {
    opacity: 1;
}
.social-list li a{
  border-color: #f5f5f5;
}
.social-list li a {
    display: block;
    width: 30px;
    line-height: 30px;
    border: solid 1px #EEEFF7;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.social-list li a:hover {
    color: #fff;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    box-sizing: border-box;
}
.social-list li a.facebook:hover {
    background: #3b5998;
    border-color: #3b5998;
}
.fa-twitter-f:before, .fa-twitter:before {
    content: "\f09a";
    box-sizing: border-box;
}
.social-list li a.twitter:hover {
    background: #1dcaff;
    border-color: #1dcaff;
}
.fa-google-plus-f:before, fa-google-plus:before {
    content: "\f09a";
    box-sizing: border-box;
}
.social-list li a.google:hover {
    background: #1dcaff;
    border-color: #1dcaff;
}
.img{
    height: 200px;
   padding: 10px;
}
.sliderdealhot .product-item, .product-search .product-item{
  padding: 0 10px 10px;
  
}

.sliderdealhot img, .product-search .img{
  text-align: center;

}
.sliderdealhot img, .product-search img{
  height: 100%;
  display:initial;
}
.sliderdealhot h3, .product-search h3{
  margin: 0 0 3px 5px;
  height: auto;
  overflow: hidden;
  color: rgb(123,123,123);
  font-size: 13px;
  font-weight: 300;
}

.sliderdealhot .item a  .product-item_price,.product-search a .product-item_price{
  font-style: 17px;
  color: #d21f30;
  font-weight: bold;
  margin-left: 5px;
}
.sliderdealhot .item a .product-item_price_old,.product-search a .product-item_price_old{
  color: rgb(77,77,77);
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  text-decoration: line-through;
  margin-left: 5px;
}
.sliderdealhot .item a .product-item_discount,.product-search a .product-item_price_old{
  font-weight: 300;
display: inline-block;
vertical-align: middle;
}

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}




/*Cam nang mua sam*/
.guide_buy{
  margin-top: 20px;
}
.guide_buy .title{
  height: 47px;
  border-bottom: 1px #f0f0f0 solid;
  padding-left: 20px;
  color: #000;
  text-transform: uppercase;
  background: #FFF;
  line-height: 47px;
  font-weight: 700;
  font-size: 15px;
}
.guide_buy .title span{
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  color: #666;
  padding-left: 10px;
}
.guide_buy .block_content{
  padding: 20px;
  background: #FFF;
}

.bg_gradient_text {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    z-index: 4;
    padding-bottom: 0;
}
.bg_gradient_text i {
    font-size: 11px;
    font-weight: 400;
}
.list-news li{
  padding-top: 5px;
}
.footer-news .text img{
   float: left;
   
} 
.content-news{
  padding-left: 90px;
}


/*End cam nang mua sam*/

/*Slider banner*/
.slider-banner .owl-controls .owl-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.slider-banner .owl-controls .owl-dots .owl-dot span{
    background: none !important;
    border: 2px solid #fff;
    height: 15px;
    width: 15px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #F5003B !important; 
}

.slider-banner .owl-controls .owl-nav .owl-prev{
    top:40%;
    position: absolute;
    left: 0;
    background: #F5003B !important;
    height: 58px;
    width: 38px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 28px;
    opacity: 0.8;
}

.slider-banner .owl-controls .owl-nav .owl-next{
    top:40%;
    position: absolute;
    right: 0;
    background: #F5003B !important;
    height: 58px;
    width: 38px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 28px;
    opacity: 0.8;
}
/*End slider banner*/

/*Slider dealhot*/
.slider-dealhot .owl-stage-outer .owl-stage .owl-item:hover{
  box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.5);
  -webkit-box-shadow:  0px 1px 10px -2px rgba(0,0,0,0.5);
  -moz-box-shadow:  0px 1px 10px -2px rgba(0,0,0,0.5);
  z-index:2;}
.slider-dealhot .owl-controls .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    top: 20px;
    width: 35px;
    font-size: 32px;
    background: #F5003B;
    margin-top: 75px;
    opacity: 0.8;
}


.slider-dealhot .owl-controls .owl-nav .owl-next{
   position: absolute;
    right: 0;
    top: 20px;
    width: 35px;
    font-size: 32px;
    background: #F5003B;
    margin-top: 75px;
    opacity: 0.8;
}

/*End slider dealhot*/

/*Register message*/


.text_newsletter p:nth-child(1)
  {
  text-transform:uppercase;
  font-weight:700;
  border-bottom:1px #CCC solid;
  padding-bottom:7px;
  margin-bottom:10px;
  font-size:13px;
  }
.text_newsletter p i
  {
  background:url(../images/helpicon.gif) no-repeat;
  width:14px;
  height:14px;
  display:inline-block
  }
.text_newsletter p span
  {
  font-weight:700;
  font-size:20px;
  padding-left:10px;
  color:#f79433;
  }
.block_newsletter input[type='text']
  {
  border:1px #cbcbcb solid;
  border-radius:2px;
  height:36px;
  width:100%;
  line-height:36px;
  padding-left:15px;
  font-family:"Open Sans";
  font-size:13px;
  }
.block_newsletter .block_button_
  {
  background:url(../images/register_bg.gif) 0 0 no-repeat;
  padding-left:100px;
  margin-top:10px;
  }
.block_newsletter .block_button_ input[type='submit']
  {
  height:32px;
  padding:0px 30px;
  color:#FFF;
  border-radius:2px;
  border:none;
  margin-left:7px;
  font-weight: bold;
  }
.block_newsletter .block_button_ input.men
  {
  background:#00b4c1;
  }
.block_newsletter .block_button_ input.women
  {
  background:#f6435b;
  }
/*End register message*/


.breadcrumb 
{
  font-size: 12px;
    background: #445878;
    padding: 5px 0;
    line-height: 25px;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.breadcrumb ul li {
    display: inline-block;
    margin-right: 5px;
    color: #EEEFF7;
}
.breadcrumb ul {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.breadcrumb ul li a {
    opacity: 0.7;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.fa-angle-right:before {
    content: "\f105";
}

/*Slide toogle*/
  .answer{
     display: none;
  }
/*End slide toogle*/

.img_product_index{
  height: 340px;
}
.img_product_index img{
  display: initial;
}
.img_product_index_img1{
    height: 100%;
}
.img_product_index_img2{
    height: 75%;
}



.dropdown-content {
    display: none;
    text-align: left !important;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
   text-align: left !important;
   padding-left: 20px !important;
}

.dropdown-content li {
  position: relative;
  line-height: 26px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.dropdown-content li:hover {
  padding-left: 10px;
  color: #F6435B; }

.dropdown-content li:hover:before {
  content: "\f105";
    font-family: 'FontAwesome';
    line-height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px; }
.dropdown:hover .dropdown-content {
    display: block;
}


/*Pagination*/
.pagination {
    width: 100%;
    padding: 10px;
}
.pagination .page {
   float: right;
}
.pagination .page li {
    display: block;
    float: left;
}
.pagination .page li a.active {
    background: #F5003B;
    border-color: #F5003B;
    color: #fff;
    font-weight: bold;
}
.pagination .page li a {
    display: block;
    float: left;
    margin-right: 3px;
    padding: 0 9px;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    color: #000;
}
.pagination .page li a:hover {
    background: #f6435b;
    border-color: #f6435b;
    color: #fff;
}
div.pagination a {
    cursor: pointer;
}
a.active {
    text-decoration: none!important;
}
.pagination a {
    padding: 0 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    height: 28px;
    line-height: 26px;
    text-transform: none;
    color: #6e6e6e;
}

.pagination a.prev, .pagination a.next {
    background: #f7f7f7;
}

.pagination a:hover {
  color: #2ccbff;
    text-decoration: none;
    border-color: #