@charset "utf-8";

.breadcrumb1 ul li 
{
	color: #f5f5f5;
	display: inline-block;
    margin-right: 5px;
}

.breadcrumb1 ul li a
{
	opacity: 0.7;

}
.breadcrumb1 ul li .divide
{
	opacity: 0.7;
	
}     
.breadcrumb1 {
    font-size: 12px;
    background: #1c1d21;
    padding: 8px 0;
    line-height: 30px;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
	    list-style: none;
}

.page-account .page-title {
    font-size: 22px;
    margin-bottom: 15px;
}
.page-title {
    font-size: 36px;
    padding: 0 0 15px;
    margin: 30px 0 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.required
{
	color: red;
}


.page-account .userform .input-control:focus, .page-account .userform .input-control:hover {
    border-color: #445878;
}

.page-account .userform .input-control {
    height: 40px;
    padding: 5px 10px;
    border: solid 1px transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.page-title:after {
    background: #f25862;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 60px;
}

.form-group1{
    float: left;
	display: inline-block;
}
.colum
{
	float: right;
}
.fb_gg 
{
	padding-top: 10px;
	text-align: center;
}
.dangnhap
{
    text-align: center;
}