.top-header,
.top-header .has-sub-linklist .sub-linklist,
.header-panel-mobile .user-link,
.breadcrumb,
.offset-menu,
 #footer {
   background: #33adff;
}
.page-blog .post .entry-summary, .wrap_loading .text {
  color:#1c1d21;
}
.toolbar-collection .view span, .toolbar-collection .view a {
  color:#1c1d21;
  border-color:#1c1d21;
}
.top-header .has-sub-linklist .sub-linklist:before {
  border-bottom-color: #1c1d21;
}
.bottom-header .background, 
.bottom-header .main-nav .has-sub ul, 
.bottom-header .main-nav .megamenu .background, 
.header-panel-mobile .user-link, 
.header-panel-mobile ul.top-linklists-mobile, 
.main-category h2, 
.button.blue:hover, 
.bottom-footer, 
.footer-contact ul.address li,
#mini-cart-modal .modal-container h2:after, 
.product-list form .btn-fill, 
.page-article .post-info .entry-meta-top .post-date, 
.page-blog .post .entry-meta-small .post-date,
.widget_collection h2, 
.button.transparent:hover, 
.product-single .product-actions .button.blue.disabled,
.nav-fixed-left li .tooltip, 
#toolbox li .tooltip, .product-single .product-seller .seller  {
  background: #4d79ff;
}
.nav-fixed-left li .tooltip:after {border-right-color:#31353d}
#toolbox li .tooltip:after {border-left-color:#31353d}
.button.blue:hover, .button.transparent, .product-single .product-tabs .navtabs li.active a, .product-single .product-actions .button.blue.disabled {border-color:#31353d}
body, 
.button.transparent,
.main-category .desktop-category .subcate,
.widget_collection .list-products .info h3,
#mini-cart-modal .modal-container, 
.page-article .post-info h1, 
.widget_blog .list-products .info h3,
.page-blog .post .post-info h2, 
.widget_blog .list-products .info .price del, 
.page-article .comments-area .comment-list li .comment-info .comment-meta cite, 
.widget_collection .advanced-filter a, 
.widget_collection .list-products .info .price del, 
.product-list .product-info .price, 
.page-article .comments-area .comment-list li .comment-info .comment-meta .reply {
  color:#31353d;
}
#mini-cart-modal .action-btn {border-top-color:#31353d}
.top-header, 
.top-header .has-sub-linklist .sub-linklist li a, 
.bottom-header .main-nav, 
.offset-menu,
.header-panel-mobile .user-link, 
.top-footer, 
.breadcrumb ul li,
#footer .footer-title, 
.footer-linklists, 
.middle-footer, 
.bottom-footer, 
.nav-fixed-left li .tooltip {
  color:#f5f5f5;
}
.top-footer, .footer-linklists ul a {
	color:#D3D3D3
}
.widget_collection .main-category .desktop-category > li:hover {
  border-left-color:#31353d
}
.top-header ul.top-linklists > li:hover > a, 
.top-header .has-sub-linklist .sub-linklist li a:hover,
.bottom-header .main-nav .megamenu ul li:hover, 
.main-category .desktop-category .subcate li:hover,
.footer-news .list-news li .desc a, 
.bottom-footer .copyright a, 
.footer-linklists ul li a:hover, 
.footer-news .list-news li h4:hover, 
.widget_collection .list-products .info h3:hover, 
.product-grid.type_2 .price span, 
.widget_blog .list-products .info h3:hover, 
.widget_blog .list-products .info .price span, 
.page-blog .post .post-info h2:hover, 
.page-blog .post .entry-summary a:hover, 
.widget_blog .list-post .small-title h3:hover,
.widget_blog .linklists li:hover, 
.page-article .post-info .entry-meta-bot a, 
.widget_collection .advanced-filter a:hover, 
#mini-cart-modal .item .item-info h3 a:hover, 
.product-grid .price {
  color:#f6435b;
}
.footer-contact ul.address li span, 
.product-grid .level-pro-sale, 
.product-grid.type_2 .product-img .actions .btn-fill:hover, 
.toolbar-collection .sortby .title, 
.pagination ul li a:hover, .pagination ul li span, 
.toolbar-collection .view .active, 
.product-list form .btn-fill:hover, 
.product-list .level-pro-sale, 
.page-title:after, 
.button.blue,  
.quick-view .close-window, 
.ajax-success-modal .close-modal,
.quick-view .more-view-wrapper .owl-theme .owl-controls .owl-prev, .quick-view .more-view-wrapper .owl-theme .owl-controls .owl-next, 
.widget_blog .list-tags li:hover, 
.slideshow .owl-controls .owl-page.active, 
.header-panel-mobile .cart-mobile .mini-cart-count {
  background:#f6435b;
}
.breadcrumb ul li a:hover, 
.product-grid h3:hover,
.widget_collection .list-products .info .price span,
.pagination ul li, 
.product-list .product-info .price span, 
.product-list .product-info h2 :hover, 
.pagination_type_2 ul, 
.product-single .product-price span,
.product-single .product-meta a, 
.product-single .widget_product h2 span:after,
.table-cart a:hover, 
.widget_collection .advanced-filter.active-filter a  {
  color:#f6435b;
}
.pagination ul li a:hover, .pagination ul li span,
.button.blue, 
.toolbar-collection .view .active, 
.toolbar-collection #sortBy:focus , 
.pagination_type_2 ul, 
.product-single .product-actions .selector-wrapper select:focus, 
.product-single .product-actions .selector-wrapper select:hover, 
.product-single .product-actions .quantity:focus, 
.widget_blog .list-tags li:hover, 
.product-single .widget_product .owl-theme .owl-controls .owl-next:hover, .product-single .widget_product .owl-theme .owl-controls .owl-prev:hover {
  border-color:#f6435b
}

.main-category .desktop-category .subcate .background, 
#footer .footer-title:after, 
.bottom-header .main-nav > li > a:after, 
.bottom-header .main-nav .megamenu h3:after, 
.page-account-detail .note {
  background: #f5f5f5;
}
.bottom-header .ico-cart:after, 
.product-single .thumbnail-images .owl-buttons .owl-prev:hover, .product-single .thumbnail-images .owl-buttons .owl-next:hover, 
.product-single .widget_product .owl-theme .owl-controls .owl-next:hover, .product-single .widget_product .owl-theme .owl-controls .owl-prev:hover
 {
  background: #f6435b;
}
.main-category .desktop-category > li:hover {
  border-left-color:#31353d;
}
.main-category .desktop-category > li, 
.main-category .mobile-category > li, .widget_blog, 
.page-cart .table-cart > tbody > tr > td {
  border-bottom-color:#f5f5f5;
}
.bottom-footer .social-list li a, .pagination ul li:hover, 
.page-article .post-info .entry-meta-bot, 
.page-article .comments-area .comment-list li .comment-info, 
.product-single .product-actions .selector-wrapper select, 
.product-single .product-tabs .tab-content .tab-pane, 
.toolbar-collection #sortBy, 
.product-single .widget_product .owl-theme .owl-controls .owl-next, .product-single .widget_product .owl-theme .owl-controls .owl-prev, 
.page-cart .cart_total .total-table, 
.page-account-detail .table-order, .page-account-detail .table-order tr, .page-account-detail .table-order tr td, .page-account-detail .table-order tr th {
  border-color:#f5f5f5;
}
.offset-menu-right .modal-container .action-btn, 
.page-article .comments-area .comment-title, 
.product-single .product-tabs, .product-single .product-recently {
  border-top-color:#f5f5f5;
}
.main-category .mobile-category {
  border-right-color:#f5f5f5;
  border-left-color:#f5f5f5;
}
.main-category .desktop-category {border-left-color:#f5f5f5;}
.blog_sidebar, .main-category .desktop-category { border-right-color:#f5f5f5;}
.input-control.type_1, .product-single .thumbnail-images .owl-buttons .owl-prev, .product-single .thumbnail-images .owl-buttons .owl-next, 
.page-cart .table-cart > thead > tr > th, 
.page-cart .cart_total .total-table tr:nth-of-type(2n+1), 
.page-account-detail .table-order tbody tr:nth-of-type(2n+1),
.note-page {
  background:#f5f5f5;
}
.big-collection .product-grid .actions .btn-transparent:hover {
	background:#f6435b;
	border-color:#f6435b;
	color:#fff;
}

.big-collection.s1 .bc-title {
  border-left-color:#6f0015;
  color:#6f0015;
}

.big-collection.s1 .tab-navigation li  {
  background:#6f0015;
}

.nav-pills>li.active.first>a {
	background:#6f0015;
	border-color:#6f0015;
}
.big-collection.s1 .collection-area {
  border-top-color:#6f0015;
}

.big-collection.s2 .bc-title {
  border-left-color:#ef8786;
  color:#ef8786;
}

.big-collection.s2 .tab-navigation li  {
  background:#ef8786;
}

.nav-pills>li.active.second>a {
	background:#ef8786;
	border-color:#ef8786;
}
.big-collection.s2 .collection-area {
  border-top-color:#ef8786;
}
.big-collection.s2 .tab-navigation li {
  background:#ef8786;
}
.big-collection.s3 .bc-title {
  border-left-color:#64cad9;
  color:#64cad9;
}

.big-collection.s3 .tab-navigation li {
  background:#64cad9;
}

.nav-pills>li.active.third>a {
	background:#64cad9;
	border-color:#64cad9;
}
.big-collection.s3 .collection-area {
  border-top-color:#64cad9;
}
.big-collection.s3 .tab-navigation li {
  background:#64cad9;
}
.big-collection.s4 .bc-title {
  border-left-color:#f8de32;
  color:#f8de32;
}

.big-collection.s4 .tab-navigation li  {
  background:#f8de32;
}

.nav-pills>li.active.fourth>a {
	background:#f8de32;
	border-color:#f8de32;
}
.big-collection.s4 .collection-area {
  border-top-color:#f8de32;
}
.big-collection.s4 .tab-navigation li {
  background:#f8de32;
}
.big-collection.s5 .bc-title {
  border-left-color:#60b545;
  color:#60b545;
}

.big-collection.s5 .tab-navigation li  {
  background:#60b545;
}

.nav-pills>li.active.fiveth>a {
	background:#60b545;
	border-color:#60b545;
}
.big-collection.s5 .collection-area {
  border-top-color:#60b545;
}
.big-collection.s5 .tab-navigation li {
  background:#60b545;
}
.big-collection.s6 .bc-title {
  border-left-color:#0059a7;
  color:#0059a7;
}

.big-collection.s6 .tab-navigation li {
  background:#0059a7;
}

.nav-pills>li.active.sixth>a  {
	background:#0059a7;
	border-color:#0059a7;
}
.big-collection.s6 .collection-area {
  border-top-color:#0059a7;
}
.big-collection.s6 .tab-navigation li {
  background:#0059a7;
}
.big-collection.s7 .bc-title {
  border-left-color:#6faca9;
  color:#6faca9;
}
.big-collection.s7 .collection-area {
  border-top-color:#6faca9;
}

.big-collection.s7 .tab-navigation li {
  background:#6faca9;
}

.nav-pills>li.active.seventh>a {
	background:#6faca9;
	border-color:#6faca9;
}
.big-collection.s7 .tab-navigation li {
  background:#6faca9;
}
@media (max-width: 991px){
  .big-collection.s1 .bc-title {
    border-right-color:#6f0015;
  }
  .big-collection.s2 .bc-title {
    border-right-color:#ef8786;
  }
  .big-collection.s3 .bc-title {
    border-right-color:#64cad9;
  }
  .big-collection.s4 .bc-title {
    border-right-color:#f8de32;
  }
  .big-collection.s5 .bc-title {
    border-right-color:#60b545;
  }
  .big-collection.s6 .bc-title {
    border-right-color:#0059a7;
  }
  .big-collection.s7 .bc-title {
    border-right-color:#6faca9;
  }
  .main-category .btn-dropdown{
    background: #1c1d21;
  }
  .offset-menu-right .modal-container h2:after, 
  .search-mobile form .input-control {
    background:#f5f5f5;
  }
  
  .main-category .btn-dropdown {
    color:#f5f5f5;
  }
  .search-mobile form .input-control {border-color:#f5f5f5;}
}
#toolbox a {background:#F5003B }